Wesley Neves

Projeto Final 01 – Peso: 4 pontos

Utilizando majoritariamente as funções map, filter e reduce do próprio Python (vistas na Aula 07), e considerando a lista de salários mensais (em reais) dos funcionários de uma determinada empresa nacional, recém-adquirida por uma empresa multinacional, armazenados no arquivo “salarios.csv” (disponível no próprio Moodle), codifique em Python e responda às seguintes perguntas:

1)    Qual o maior salário (em reais)?

2)    Qual o menor salário (em reais)?

3)    Converta todos os salários (em reais) para dólares e encontre a soma total dos salários dos funcionários da companhia (resultado também em dólares) – considere 1 dólar equivalente a 4 reais.

4)    Encontre o salário médio dos funcionários (em dólares) e liste todos os salários existentes acima deste valor (valores também em dólares).

5)    Se o presidente da multinacional quiser aumentar em 10% todos os salários da empresa abaixo do salário médio, quanto ele gastaria a mais por mês com os funcionários (calcule e responda em dólares)?

OBS: Não é necessário enviar um relatório/texto escrito com as respostas, documente cada linha de código de seu programa e comente as respostas após cada linha de comando, se possível em um Jupyter Notebook. Poste o código bem documentado (com comentários, etc.)  aqui.

Não esqueça de identificar-se.

In [2]:
import pandas as pd
import functools as fn
import locale

In [3]:
df = pd.read_csv('salarios.csv')

FileNotFoundError: [Errno 2] File salarios.csv does not exist: 'salarios.csv'

In [74]:
df.shape

df.columns =["Salario"]

In [75]:
df.head(5)

   Salario
0  19467.0
1   7334.0
2  27500.0
3  20169.0
4  16724.0

## 1) Qual o maior salário (em reais)?

In [76]:
fn.reduce(lambda x, y : x if(x > y) else y,df["Salario"])

33765.0

## 2) Qual o menor salário (em reais)?

In [77]:
fn.reduce(lambda x, y : x if(x < y) else y,df["Salario"])

1001.0

## 3) Converta todos os salários (em reais) para dólares e encontre a soma total dos salários dos funcionários da companhia (resultado também em dólares) – considere 1 dólar equivalente a 4 reais.

In [78]:
valor_dolar = 4

def converteRealEmDolar(valor):
    return (valor * valor_dolar)

df["SalarioEmDolar"]  = df["Salario"].map(converteRealEmDolar)

df.head()

   Salario  SalarioEmDolar
0  19467.0         77868.0
1   7334.0         29336.0
2  27500.0        110000.0
3  20169.0         80676.0
4  16724.0         66896.0

## recuperar a soma total de salarios em dolar

In [79]:

soma_total_salarios = fn.reduce((lambda a, b: a + b), df["SalarioEmDolar"])
print(soma_total_salarios)

1400973308.0

In [35]:
df.head(5)

   Salario  SalarioEmDolar
0  19467.0         77868.0
1   7334.0         29336.0
2  27500.0        110000.0
3  20169.0         80676.0
4  16724.0         66896.0

## 4)    Encontre o salário médio dos funcionários (em dólares) e liste todos os salários existentes acima deste valor (valores também em dólares).

### função de exemplo

In [80]:
def Average(salarios): 
    avg = fn.reduce(lambda x, y: x + y, salarios) / len(salarios)
    return avg

my_list = [2,4,6,8,10] 
average = Average(my_list)

print(average)

6.0

### Salario Medio

In [81]:
df["MediaSalarial"] = fn.reduce(lambda x, y: x + y, df["SalarioEmDolar"]) / len(df["SalarioEmDolar"])

df.head()

   Salario  SalarioEmDolar  MediaSalarial
0  19467.0         77868.0   70052.168008
1   7334.0         29336.0   70052.168008
2  27500.0        110000.0   70052.168008
3  20169.0         80676.0   70052.168008
4  16724.0         66896.0   70052.168008

## liste todos os salários existentes acima deste valor

In [82]:
print("Media Salarial {0}".format(df["MediaSalarial"][0].round(2)))
list(filter(lambda numero: numero > df["MediaSalarial"][0],df["SalarioEmDolar"]))

Media Salarial 70052.17

[77868.0,
 110000.0,
 80676.0,
 121432.0,
 111848.0,
 101856.0,
 116580.0,
 97124.0,
 71308.0,
 133564.0,
 73684.0,
 78864.0,
 82872.0,
 83580.0,
 90904.0,
 83648.0,
 106668.0,
 109196.0,
 72140.0,
 118812.0,
 99244.0,
 129288.0,
 125332.0,
 74692.0,
 117012.0,
 106188.0,
 114576.0,
 134648.0,
 135028.0,
 84148.0,
 114116.0,
 92760.0,
 124424.0,
 81056.0,
 94592.0,
 113784.0,
 99220.0,
 101480.0,
 128404.0,
 101572.0,
 82516.0,
 100336.0,
 83816.0,
 79024.0,
 109232.0,
 71776.0,
 133756.0,
 102504.0,
 90152.0,
 95716.0,
 70164.0,
 128460.0,
 122632.0,
 94816.0,
 130692.0,
 93544.0,
 118980.0,
 111696.0,
 80288.0,
 111108.0,
 99944.0,
 78544.0,
 93420.0,
 103068.0,
 98620.0,
 113400.0,
 71764.0,
 90896.0,
 128428.0,
 124764.0,
 76028.0,
 115012.0,
 132836.0,
 100884.0,
 78352.0,
 103784.0,
 114024.0,
 120672.0,
 134364.0,
 79048.0,
 73640.0,
 114496.0,
 86148.0,
 90192.0,
 114380.0,
 101400.0,
 127344.0,
 100084.0,
 113392.0,
 96796.0,
 82672.0,
 101936.0,
 109672.0,
 115752.0,
 76508.0,
 102592.0,
 93932.0,
 75228.0,
 95252.0,
 79740.0,
 73804.0,
 86400.0,
 70076.0,
 130224.0,
 95192.0,
 125212.0,
 134436.0,
 134808.0,
 85940.0,
 126092.0,
 121256.0,
 104800.0,
 86320.0,
 83184.0,
 82356.0,
 87192.0,
 116036.0,
 112628.0,
 85888.0,
 98488.0,
 78152.0,
 100716.0,
 76760.0,
 122628.0,
 83260.0,
 95552.0,
 80624.0,
 101088.0,
 84220.0,
 85312.0,
 94584.0,
 109448.0,
 79500.0,
 117732.0,
 123476.0,
 84568.0,
 99376.0,
 91524.0,
 131992.0,
 78604.0,
 117904.0,
 115568.0,
 101556.0,
 88012.0,
 111476.0,
 75444.0,
 100728.0,
 112352.0,
 129704.0,
 118468.0,
 99028.0,
 127728.0,
 106884.0,
 72756.0,
 83904.0,
 129316.0,
 118768.0,
 89700.0,
 70196.0,
 124580.0,
 76240.0,
 90872.0,
 107984.0,
 70748.0,
 94196.0,
 73748.0,
 83464.0,
 96780.0,
 85664.0,
 117144.0,
 101952.0,
 106936.0,
 76456.0,
 129264.0,
 86684.0,
 101420.0,
 128740.0,
 84212.0,
 87780.0,
 115024.0,
 117284.0,
 82232.0,
 98584.0,
 115928.0,
 96784.0,
 84888.0,
 85800.0,
 90636.0,
 109168.0,
 109756.0,
 73012.0,
 84096.0,
 108616.0,
 122040.0,
 86596.0,
 116088.0,
 79148.0,
 75832.0,
 109908.0,
 107296.0,
 121336.0,
 107496.0,
 101488.0,
 84636.0,
 116280.0,
 117188.0,
 75092.0,
 133080.0,
 72768.0,
 120852.0,
 126108.0,
 123888.0,
 128012.0,
 113728.0,
 74020.0,
 114372.0,
 94900.0,
 72888.0,
 129144.0,
 80748.0,
 93652.0,
 127896.0,
 120680.0,
 127332.0,
 82844.0,
 107040.0,
 79584.0,
 90496.0,
 116076.0,
 110304.0,
 90776.0,
 94632.0,
 109208.0,
 73484.0,
 93864.0,
 94372.0,
 99404.0,
 105936.0,
 117856.0,
 88476.0,
 96608.0,
 76348.0,
 128240.0,
 132680.0,
 85260.0,
 124908.0,
 95032.0,
 72344.0,
 122260.0,
 122308.0,
 106508.0,
 131712.0,
 105692.0,
 118080.0,
 102384.0,
 134100.0,
 85304.0,
 120044.0,
 127084.0,
 106188.0,
 88612.0,
 90080.0,
 123160.0,
 124752.0,
 91052.0,
 87404.0,
 78648.0,
 127600.0,
 74852.0,
 79832.0,
 74312.0,
 108232.0,
 81428.0,
 88452.0,
 83204.0,
 95400.0,
 93712.0,
 113536.0,
 81620.0,
 128444.0,
 118816.0,
 133424.0,
 121400.0,
 79292.0,
 86224.0,
 96864.0,
 121348.0,
 97084.0,
 99476.0,
 121444.0,
 122468.0,
 78784.0,
 100164.0,
 101692.0,
 100516.0,
 100916.0,
 93184.0,
 123420.0,
 71848.0,
 122936.0,
 71888.0,
 89828.0,
 94128.0,
 95392.0,
 92568.0,
 99016.0,
 94964.0,
 84700.0,
 89836.0,
 75300.0,
 75480.0,
 131736.0,
 131132.0,
 99400.0,
 73592.0,
 93116.0,
 94804.0,
 110136.0,
 106820.0,
 70564.0,
 83420.0,
 103420.0,
 114444.0,
 127508.0,
 85696.0,
 134712.0,
 77772.0,
 117184.0,
 84288.0,
 116448.0,
 126780.0,
 99324.0,
 84160.0,
 109952.0,
 118740.0,
 80360.0,
 81988.0,
 107960.0,
 81412.0,
 81256.0,
 78604.0,
 110960.0,
 92176.0,
 105056.0,
 118012.0,
 99100.0,
 86432.0,
 121168.0,
 74196.0,
 122224.0,
 106244.0,
 130508.0,
 122164.0,
 108516.0,
 128960.0,
 115252.0,
 120696.0,
 86404.0,
 84860.0,
 99968.0,
 107296.0,
 97568.0,
 109712.0,
 116108.0,
 79144.0,
 103880.0,
 99388.0,
 134416.0,
 88884.0,
 94652.0,
 92684.0,
 113956.0,
 76960.0,
 106168.0,
 87652.0,
 131272.0,
 104820.0,
 88392.0,
 75456.0,
 95652.0,
 90180.0,
 118848.0,
 74184.0,
 78712.0,
 117156.0,
 78160.0,
 96980.0,
 106032.0,
 117272.0,
 115480.0,
 117292.0,
 88528.0,
 101888.0,
 112608.0,
 104348.0,
 118280.0,
 123052.0,
 123604.0,
 72412.0,
 111876.0,
 90172.0,
 105388.0,
 93636.0,
 109852.0,
 132240.0,
 88884.0,
 123816.0,
 87552.0,
 89720.0,
 106480.0,
 112268.0,
 87132.0,
 76140.0,
 132904.0,
 106516.0,
 83692.0,
 133028.0,
 103064.0,
 97272.0,
 134904.0,
 105644.0,
 88100.0,
 85420.0,
 128004.0,
 94196.0,
 78336.0,
 75856.0,
 97368.0,
 75652.0,
 128784.0,
 91792.0,
 104288.0,
 85704.0,
 108692.0,
 101716.0,
 133616.0,
 86504.0,
 123248.0,
 81500.0,
 124372.0,
 70260.0,
 120564.0,
 127256.0,
 99744.0,
 127352.0,
 85928.0,
 88060.0,
 76920.0,
 75364.0,
 134548.0,
 82760.0,
 90536.0,
 89664.0,
 92932.0,
 70536.0,
 109212.0,
 112436.0,
 100112.0,
 120800.0,
 88320.0,
 89272.0,
 71432.0,
 100200.0,
 100620.0,
 129444.0,
 122572.0,
 111636.0,
 117956.0,
 103792.0,
 126696.0,
 81476.0,
 85036.0,
 80032.0,
 94476.0,
 99884.0,
 124012.0,
 91780.0,
 110016.0,
 134740.0,
 105252.0,
 80148.0,
 129844.0,
 105076.0,
 103748.0,
 119476.0,
 109056.0,
 102220.0,
 77320.0,
 124848.0,
 121152.0,
 116328.0,
 86840.0,
 101936.0,
 103096.0,
 123260.0,
 107804.0,
 76460.0,
 72440.0,
 107592.0,
 96292.0,
 99908.0,
 76528.0,
 123824.0,
 118756.0,
 108452.0,
 89452.0,
 104736.0,
 103112.0,
 91896.0,
 95468.0,
 108612.0,
 132672.0,
 87300.0,
 118600.0,
 124320.0,
 110668.0,
 110716.0,
 121684.0,
 114904.0,
 118664.0,
 120348.0,
 114724.0,
 83856.0,
 121236.0,
 85660.0,
 75608.0,
 123492.0,
 72496.0,
 99764.0,
 134980.0,
 131048.0,
 117692.0,
 114124.0,
 131628.0,
 101228.0,
 97924.0,
 88544.0,
 110520.0,
 100456.0,
 111236.0,
 98224.0,
 89172.0,
 123984.0,
 120608.0,
 105380.0,
 124456.0,
 102888.0,
 122816.0,
 105076.0,
 76952.0,
 109692.0,
 115672.0,
 74636.0,
 133992.0,
 117944.0,
 88784.0,
 110532.0,
 77568.0,
 121832.0,
 127228.0,
 115320.0,
 121168.0,
 87196.0,
 77408.0,
 85792.0,
 117260.0,
 93344.0,
 77588.0,
 129672.0,
 83588.0,
 107312.0,
 111264.0,
 100920.0,
 71700.0,
 102080.0,
 122240.0,
 104648.0,
 86700.0,
 93444.0,
 131016.0,
 96584.0,
 111784.0,
 88752.0,
 82276.0,
 114652.0,
 102060.0,
 86112.0,
 82228.0,
 119848.0,
 126096.0,
 73876.0,
 131692.0,
 117400.0,
 95700.0,
 82948.0,
 77348.0,
 126856.0,
 116656.0,
 130364.0,
 83796.0,
 80540.0,
 118656.0,
 106432.0,
 126272.0,
 81124.0,
 77492.0,
 118608.0,
 99304.0,
 117584.0,
 120696.0,
 79276.0,
 134444.0,
 85156.0,
 129800.0,
 71572.0,
 125200.0,
 82780.0,
 128688.0,
 75872.0,
 113432.0,
 108124.0,
 109072.0,
 81704.0,
 118040.0,
 127096.0,
 127640.0,
 98208.0,
 105564.0,
 117020.0,
 111284.0,
 108488.0,
 106188.0,
 90308.0,
 106420.0,
 124780.0,
 114376.0,
 97756.0,
 101632.0,
 72892.0,
 109736.0,
 121944.0,
 111224.0,
 78800.0,
 74768.0,
 91148.0,
 118128.0,
 126224.0,
 127896.0,
 77132.0,
 108888.0,
 121324.0,
 118332.0,
 111792.0,
 75928.0,
 92072.0,
 128444.0,
 132728.0,
 99424.0,
 81960.0,
 82708.0,
 94672.0,
 128272.0,
 91964.0,
 132784.0,
 71312.0,
 121704.0,
 74448.0,
 78812.0,
 124952.0,
 100948.0,
 109772.0,
 89252.0,
 94004.0,
 104512.0,
 98600.0,
 116596.0,
 113860.0,
 85068.0,
 74852.0,
 83172.0,
 78536.0,
 105888.0,
 87888.0,
 95320.0,
 103604.0,
 117768.0,
 107080.0,
 70360.0,
 132716.0,
 70380.0,
 84676.0,
 129240.0,
 116728.0,
 134112.0,
 107132.0,
 89144.0,
 77736.0,
 86872.0,
 103460.0,
 95000.0,
 118456.0,
 78392.0,
 117832.0,
 108252.0,
 135024.0,
 87228.0,
 85112.0,
 81956.0,
 81740.0,
 132300.0,
 108192.0,
 121968.0,
 99360.0,
 83240.0,
 91568.0,
 131928.0,
 121408.0,
 128976.0,
 91176.0,
 73728.0,
 96972.0,
 114596.0,
 92060.0,
 111364.0,
 83248.0,
 126592.0,
 83404.0,
 101896.0,
 118532.0,
 123564.0,
 112800.0,
 83416.0,
 106788.0,
 75120.0,
 94312.0,
 134176.0,
 94100.0,
 117008.0,
 104044.0,
 129988.0,
 78116.0,
 130160.0,
 79220.0,
 119164.0,
 90312.0,
 111916.0,
 127884.0,
 84772.0,
 89988.0,
 129104.0,
 83160.0,
 85672.0,
 109956.0,
 112032.0,
 115868.0,
 78012.0,
 134428.0,
 80076.0,
 119044.0,
 128652.0,
 70732.0,
 83728.0,
 105808.0,
 86460.0,
 84544.0,
 112128.0,
 134336.0,
 72024.0,
 79528.0,
 104996.0,
 131032.0,
 122484.0,
 72380.0,
 104232.0,
 114308.0,
 98916.0,
 100324.0,
 102704.0,
 115012.0,
 87596.0,
 123716.0,
 130308.0,
 110068.0,
 123664.0,
 95648.0,
 126772.0,
 111796.0,
 111428.0,
 86560.0,
 108208.0,
 128904.0,
 116648.0,
 71820.0,
 96732.0,
 124720.0,
 112260.0,
 88312.0,
 71512.0,
 131788.0,
 123900.0,
 103000.0,
 92856.0,
 73128.0,
 112028.0,
 113728.0,
 118088.0,
 131240.0,
 74564.0,
 129404.0,
 81788.0,
 100832.0,
 93104.0,
 107036.0,
 124756.0,
 125688.0,
 114664.0,
 122456.0,
 121012.0,
 129392.0,
 93724.0,
 120328.0,
 92424.0,
 73184.0,
 109124.0,
 108084.0,
 101820.0,
 112496.0,
 77272.0,
 123436.0,
 103992.0,
 119552.0,
 118720.0,
 83704.0,
 106712.0,
 103844.0,
 87420.0,
 109452.0,
 130244.0,
 96980.0,
 117096.0,
 101412.0,
 76440.0,
 78572.0,
 73860.0,
 111560.0,
 70684.0,
 133488.0,
 124128.0,
 96660.0,
 72824.0,
 110312.0,
 71792.0,
 112684.0,
 76664.0,
 70788.0,
 128080.0,
 98776.0,
 124436.0,
 75936.0,
 119912.0,
 90468.0,
 70504.0,
 75624.0,
 107712.0,
 116472.0,
 101560.0,
 80796.0,
 86840.0,
 77084.0,
 113660.0,
 96744.0,
 75308.0,
 116296.0,
 109724.0,
 125084.0,
 83540.0,
 129244.0,
 74416.0,
 120088.0,
 81652.0,
 74148.0,
 124152.0,
 89552.0,
 130588.0,
 70336.0,
 85972.0,
 73928.0,
 121788.0,
 92416.0,
 80380.0,
 124884.0,
 91124.0,
 94372.0,
 112320.0,
 89644.0,
 87872.0,
 112864.0,
 119072.0,
 72160.0,
 130124.0,
 99116.0,
 86652.0,
 110612.0,
 115744.0,
 101460.0,
 111340.0,
 106720.0,
 77820.0,
 103232.0,
 75328.0,
 90248.0,
 95540.0,
 91848.0,
 88320.0,
 128808.0,
 129972.0,
 85896.0,
 103092.0,
 80388.0,
 97340.0,
 97600.0,
 95820.0,
 86664.0,
 98352.0,
 72672.0,
 117260.0,
 81584.0,
 92048.0,
 76544.0,
 79048.0,
 104172.0,
 75688.0,
 102048.0,
 108072.0,
 113472.0,
 98868.0,
 74600.0,
 91580.0,
 94560.0,
 91916.0,
 100796.0,
 120420.0,
 103164.0,
 78644.0,
 100132.0,
 132116.0,
 109012.0,
 84332.0,
 134872.0,
 128252.0,
 86608.0,
 79456.0,
 125880.0,
 88188.0,
 89948.0,
 101304.0,
 89292.0,
 99960.0,
 134352.0,
 102840.0,
 121084.0,
 75780.0,
 120884.0,
 117880.0,
 84732.0,
 98356.0,
 99820.0,
 103116.0,
 84540.0,
 97948.0,
 112784.0,
 120132.0,
 83116.0,
 103848.0,
 79860.0,
 80420.0,
 102268.0,
 134684.0,
 88112.0,
 121056.0,
 119204.0,
 130404.0,
 100908.0,
 98768.0,
 83084.0,
 85452.0,
 121204.0,
 93452.0,
 73684.0,
 97780.0,
 78440.0,
 70964.0,
 131248.0,
 120604.0,
 96060.0,
 83528.0,
 134828.0,
 100980.0,
 93160.0,
 129356.0,
 ...]

5)    Se o presidente da multinacional quiser aumentar em 10% todos os salários da empresa abaixo do salário médio, quanto ele gastaria a mais por mês com os funcionários (calcule e responda em dólares)?

In [83]:
def aumentoSalario(valor,porcentagem =None):
    if(porcentagem is None):
        porcentagem = 0.10
        
    return  valor + (valor * porcentagem)

### Isola somente os funcionarios que estão abaixo da media

In [84]:
df_salarios_abaixo_da_media = df.query('SalarioEmDolar < MediaSalarial')

### aplica o aumento em 10 %

In [85]:
df_salarios_abaixo_da_media["AumentoSalarial"] = df_salarios_abaixo_da_media["SalarioEmDolar"].map(aumentoSalario)

In [86]:
df_salarios_abaixo_da_media.head(5)

    Salario  SalarioEmDolar  MediaSalarial  AumentoSalarial
1    7334.0         29336.0   70052.168008          32269.6
4   16724.0         66896.0   70052.168008          73585.6
5   12478.0         49912.0   70052.168008          54903.2
9    6705.0         26820.0   70052.168008          29502.0
13  10961.0         43844.0   70052.168008          48228.4

In [91]:
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [95]:
soma_total_gasto_A_mais = fn.reduce((lambda a, b: a + b), df_salarios_abaixo_da_media["AumentoSalarial"])

soma_total_gasto_A_mais = locale.currency(soma_total_gasto_A_mais, grouping=True, symbol=None)


print(('Valor: %s em dolares' % soma_total_gasto_A_mais))

Valor: 402.443.690,00 em dolares