## Bibliotecas

In [ ]:
import pyodbc as PDB  # Drive para conexão com banco de dados
import pandas  as pd

## Variaveis

In [ ]:
server = '172.20.1.114'
database = 'erphomolog.cremesp.org.br'
username = 'implanta.net'
password = '159753'
driver= '{ODBC Driver 17 for SQL Server}'


diretorio= 'D:\diferença depreciação implanta.xlsx'

## Campos do dataframe

In [ ]:
list(dados)

AttributeError: 'DataFrame' object has no attribute 'decrible'

In [38]:
cursor = conexao.cursor()

for index,row in dados.iterrows():
    sql = "INSERT INTO Patrimonio.Planilha  VALUES (?, ?, ?, ?,?, ?, ?, ?, ?, ?, ?, ?)"
    cursor.execute(sql, (row['Código'],row['Data Aquisição/Reavaliação'],row['Valor Atual'],row['% Residual'],row['Vida util em anos'],row['% Depreciação'],row['Valor Residual'],row['Base de Calculo Depreciação'],row['Data Depreciação'],row['Valor Depreciação mensal'],row['Valor Implanta'],row['Diferença controle-Implanta']))
    conexao.commit()
   
cursor.close()
conexao.close()

ProgrammingError: ('42000', '[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The incoming tabular data stream (TDS) remote procedure call (RPC) protocol stream is incorrect. Parameter 14 (""): The supplied value is not a valid instance of data type float. Check the source data for invalid values. An example of an invalid value is data of numeric type with scale greater than precision. (8023) (SQLExecDirectW)')

In [ ]:
empenhos.head(2)

In [39]:
dados.head(2)

,Código,Data Aquisição/Reavaliação,Valor Atual,% Residual,Vida util em anos,% Depreciação,Valor Residual,Base de Calculo Depreciação,Data Depreciação,Valor Depreciação mensal,Valor Implanta,Diferença controle-Implanta
0,1157,2019-12-31,245.87,0.1,10,0.1,24.587,221.28,2020-01-31,1.84,3.07,-1.23
1,1198,2019-12-31,135.32,0.1,10,0.1,13.532,121.79,2020-01-31,1.01,1.69,-0.68