## predição de vinho tinto ou branco , usando arvores de decisão 

https://www.kaggle.com/dell4010/wine-dataset

In [3]:
import pandas as pd
import numpy as np

## tratamento de dados

In [4]:
dataset = pd.read_csv('D:\Wesley\Python\AprendendoPython\MachineLearning\Modelos\wine_dataset.csv')

In [5]:
dataset.shape

(6497, 13)

In [6]:
dataset.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red

In [8]:
dataset['style'] = dataset['style'].replace('red',0)
dataset['style'] = dataset['style'].replace('white',1)

In [9]:
dataset.head(2)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.0,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.0,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0

##

## separando as variaveis preditoras e target

In [10]:
target = dataset['style']
preditoras= dataset.drop('style',axis =1)

## inicio do modelo

In [18]:
from sklearn.model_selection import train_test_split

###  separação dos dados de treino e teste

In [28]:

x_treino, x_test, target_treino, target_test = train_test_split(preditoras,target,test_size=0.26)

In [29]:
x_treino.shape

(4807, 12)

## Instancia do modelo

In [30]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()

In [31]:
modelo.fit(x_treino,target_treino)

resultado = modelo.score(x_treino,target_treino)

print('Acuracia :',resultado)

Acuracia : 1.0

In [34]:
target_test[400:403]

1509    0
4544    1
6299    1
Name: style, dtype: int64

In [35]:
x_test[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
1509,7.9,0.18,0.40,1.8,0.062,7.0,20.0,0.99410,3.28,0.70,11.1,5
4544,4.9,0.33,0.31,1.2,0.016,39.0,150.0,0.98713,3.33,0.59,14.0,8
6299,6.8,0.30,0.33,12.8,0.041,60.0,168.0,0.99659,3.10,0.56,9.8,5

## executar as predições

In [39]:
predicoes = modelo.predict(x_test[400:403])
print(predicoes)

[0 1 1]