In [2]:
import pandas as pd

In [25]:
revative_path =r'D:\Wesley\VersionCode\AprendendoPython\AprendendoPython\pyData\Pandas\Arquivos\Events_And_Temperature.csv'

In [26]:
dados = pd.read_csv(revative_path)

In [24]:
dados.head(2)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275

## Recuperando uma coluna

In [17]:
dados.Temperature.cumsum()

0       38
1       74
2      114
3      139
4      159
5      192
6      231
7      270
8      314
9      364
10     397
11     432
12     458
13     488
14     531
15     578
16     614
17     639
18     661
19     693
20     724
21     750
22     776
23     804
24     838
25     881
26     922
27     959
28     995
29    1029
30    1075
Name: Temperature, dtype: int64

In [13]:
dados.Temperature.max(),dados.Temperature.min(),dados.Temperature.mean(),dados.Temperature.sum()

(50, 20, 34.67741935483871, 1075)

## Filtrando Dados

In [18]:
dados[dados["Temperature"] > 30]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [19]:
dados['EST'][dados['Events'] =='Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

## adicionando uma coluna  com os valores acumulados

In [20]:
dados['TemperaturaAculumada'] = dados.Temperature.cumsum()

In [21]:
dados.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,TemperaturaAculumada
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281,38
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275,74
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277,114
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345,139
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333,159