## Analise de dados das Olimpiadas

## Dataset https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results

https://pandas.pydata.org/pandas-docs/stable/

In [1]:
import pandas as pd

## gera√ßao de dataframe

In [2]:
dados ={'Nome':['Alice','Karina','Wesley','Enzo'],
        'Idade':[1,25,33,6],
        'Nota':[6.5,7.5,6.5,8.5]}


dataset = pd.DataFrame(dados)

In [3]:
dataset

     Nome  Idade  Nota
0   Alice      1   6.5
1  Karina     25   7.5
2  Wesley     33   6.5
3    Enzo      6   8.5

## adicionar uma coluna ao dataframe

In [7]:
dataset['Aprovado']= ''

In [8]:
dataset

     Nome  Idade  Nota Aprovado
0   Alice      1   6.5
1  Karina     25   7.5
2  Wesley     33   6.5
3    Enzo      6   8.5

## Tamanho do dataframe

In [4]:
dataset.shape

(4, 3)

In [5]:
dataset.describe()

           Idade      Nota
count   4.000000  4.000000
mean   16.250000  7.250000
std    15.217862  0.957427
min     1.000000  6.500000
25%     4.750000  6.500000
50%    15.500000  7.000000
75%    27.000000  7.750000
max    33.000000  8.500000

In [6]:
dataset.Idade

0     1
1    25
2    33
3     6
Name: Idade, dtype: int64

In [11]:
type(dataset.Idade)

pandas.core.series.Series

## Renomeando colunas de um dataframe

In [7]:
dataset.rename(columns ={'Nome':'nome','Idade': 'idade','Nota':'nota','Aprovado':'aprovado'})

     nome  idade  nota
0   Alice      1   6.5
1  Karina     25   7.5
2  Wesley     33   6.5
3    Enzo      6   8.5

## Localizando linhas

In [8]:
dataset.loc[0]

Nome     Alice
Idade        1
Nota       6.5
Name: 0, dtype: object

In [9]:
dataset.loc[0:2]

     Nome  Idade  Nota
0   Alice      1   6.5
1  Karina     25   7.5
2  Wesley     33   6.5

## executando fun√ß√µes em uma coluna

In [16]:
print( 'Media: {%f} - Soma:{%f}' %(dataset.Nota.mean(),dataset.Nota.sum()))

Media: {7.250000} - Soma:{29.000000}

## recuperar valores distintos

In [17]:
dataset.Nota.value_counts()

6.5    2
8.5    1
7.5    1
Name: Nota, dtype: int64

## Executando querys no dataset

In [18]:
dataset.loc[dataset['Nome'] =='Wesley']

     Nome  Idade  Nota
2  Wesley     33   6.5

In [19]:
dataset.query('Idade > 1')

     Nome  Idade  Nota
1  Karina     25   7.5
2  Wesley     33   6.5
3    Enzo      6   8.5

## trabalhando com valores missings

In [20]:
import pandas as pd

data = pd.read_csv(r'D:\Wesley\Python\AprendendoPython\MachineLearning\Olimpiadas\athlete_events.csv')

FileNotFoundError: File b'D:\\Wesley\\Python\\AprendendoPython\\MachineLearning\\Olimpiadas\\athlete_events.csv' does not exist

In [17]:
data.head(1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN

## deleta as linhas que conten dados faltantes

In [24]:
data.shape

(271116, 15)

In [22]:
dataset = data.dropna()

In [23]:
dataset.shape

(30181, 15)

In [25]:
dataset_1 = data.isnull()

## podemos somar para cada coluna quantos dados missing est√£o faltando

In [27]:
faltantes = dataset_1.sum()

In [28]:
faltantes

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

## percentual dos dados faltantes em rela√ß√£o ao dataset

In [32]:
faltantes_percentual = ( faltantes / dataset_1.shape[0]) * 100
faltantes_percentual

ID         0.000000
Name       0.000000
Sex        0.000000
Age        3.494445
Height    22.193821
Weight    23.191180
Team       0.000000
NOC        0.000000
Games      0.000000
Year       0.000000
Season     0.000000
City       0.000000
Sport      0.000000
Event      0.000000
Medal     85.326207
dtype: float64

## substituir dados faltantes

In [33]:
data.Medal.fillna('Nenhuma',inplace=True)

## subistitue os dados faltantes de Height pela mediana

In [35]:
data.Weight.fillna(data.Weight.median(),inplace=True)

70.0

In [37]:
data.Age.fillna(data.Age.median(),inplace=True)