In [31]:
import pandas as pd
import os 
import string

diretorio_Arquivo = r'D:\Wesley\VersionCode\AprendendoPython\AprendendoPython\pyData\Pandas\Arquivos'
ful_path_json =diretorio_Arquivo +r'\aluguel.json'
ful_path_txt =diretorio_Arquivo +r'\aluguel.txt'
ful_path_xlsx =diretorio_Arquivo +r'\aluguel.xlsx'
ful_path_html =diretorio_Arquivo +r'\dados_html_1.html'

In [22]:
json = open(ful_path_json)
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [23]:
df_json = pd.read_json(ful_path_json)
df_json

,Area,Bairro,Condominio,IPTU,Quartos,Suites,Tipo,Vagas,Valor
0,40,Copacabana,500.0,60.0,1,0,Quitinete,0,1700
1,100,Jardim Botânico,NaN,NaN,2,1,Casa,0,7000
2,150,Barra da Tijuca,4020.0,1111.0,0,0,Conjunto Comercial/Sala,4,5200
3,15,Centro,390.0,20.0,1,0,Apartamento,0,800
4,48,Higienópolis,230.0,NaN,1,0,Apartamento,0,800
5,70,Vista Alegre,NaN,NaN,3,0,Apartamento,1,1200
6,50,Cachambi,301.0,17.0,2,0,Apartamento,0,1300
7,750,Barra da Tijuca,NaN,NaN,5,5,Casa de Condomínio,4,22000
8,65,Ramos,NaN,NaN,2,0,Casa de Condomínio,2,1000
9,695,Centro,19193.0,3030.0,0,0,Conjunto Comercial/Sala,3,35000

In [28]:
txt = open(ful_path_txt)
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim BotÃ¢nico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	HigienÃ³polis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de CondomÃ­nio	Barra da Tijuca	5	4	5	750	22000
Casa de CondomÃ­nio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [27]:
df_txt = pd.read_table(ful_path_txt)
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [30]:
df_xlsx = pd.read_excel(ful_path_xlsx)
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [32]:
df_html = pd.read_html(ful_path_html)
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [33]:
df_html = pd.read_html('https://unafiscosaude.org.br/site/tabelas-de-precos-dos-planos-ativos-para-comercializacao/')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [34]:
df_html = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')

In [35]:
len(df_html)

3

In [36]:
df_html[0]

,Date,Reserve balances required,Reserve balances maintained 4,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0
,Reserve balance requirements 1,Top of penalty- free band 2,Bottom of penalty- free band 3,Total,Balances maintained to satisfy reserve balance requirements 5,Balances maintained that exceed the top of the penalty- free band 6,Unnamed: 6_level_1
0,Month 7,NaN,NaN,NaN,NaN,NaN,NaN
1,Jan. 2019,131130.0,144255.0,118006.0,1639030.0,143615.0,1495414.0
2,Feb. 2019,125129.0,137655.0,112606.0,1645233.0,137128.0,1508105.0
3,Mar. 2019,128423.0,141279.0,115569.0,1661297.0,140926.0,1520371.0
4,Apr. 2019,130120.0,143144.0,117098.0,1559450.0,142641.0,1416809.0
5,May 2019,134717.0,148200.0,121237.0,1511285.0,147792.0,1363493.0
6,June 2019,134908.0,148409.0,121408.0,1535857.0,148025.0,1387832.0
7,July 2019,135103.0,148624.0,121584.0,1513550.0,148191.0,1365359.0
8,Aug. 2019,134639.0,148114.0,121167.0,1520876.0,147555.0,1373321.0
9,Sept. 2019,134707.0,148188.0,121227.0,1439771.0,147498.0,1292273.0
10,Oct. 2019,134998.0,148509.0,121489.0,1481513.0,148050.0,1333462.0
11,Nov. 2019,140705.0,154787.0,126625.0,1529341.0,154256.0,1375085.0
12,Dec. 2019,138984.0,152893.0,125076.0,1630090.0,152562.0,1477528.0
13,Jan. 2020,144816.0,159309.0,130326.0,1645384.0,158765.0,1486619.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 8,NaN,NaN,NaN,NaN,NaN,NaN
16,"Jan. 1, 2020",146015.0,160627.0,131404.0,1633887.0,160418.0,1473469.0
17,"Jan. 15, 2020",135017.0,148531.0,121506.0,1670444.0,148025.0,1522419.0
18,"Jan. 29, 2020",156503.0,172164.0,140844.0,1619016.0,171564.0,1447452.0
19,"Feb. 12, 2020",131006.0,144118.0,117897.0,1660291.0,143526.0,1516765.0
20,"Feb. 26, 2020",143140.0,157465.0,128817.0,1640294.0,156831.0,1483463.0

In [13]:
df_html[1]

,Date,Reserves,Vault cash 2,Monetary base,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0,Unnamed: 7_level_0,Unnamed: 8_level_0
,Total 1,Required,Total,Used to satisfy \n\n required \n\n reserves 3,Surplus 4,Total 5,Total balances \n\nmaintained 6,Currency in \n\ncirculation,Unnamed: 8_level_1
0,Month 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apr. 2017,2344812.0,176616.0,74055.0,63392.0,10663.0,3821697.0,2281420.0,1540277.0
2,May 2017,2288936.0,178630.0,72954.0,63167.0,9787.0,3774412.0,2225769.0,1548643.0
3,June 2017,2269683.0,181324.0,72881.0,63137.0,9745.0,3762780.0,2206547.0,1556234.0
4,July 2017,2296929.0,184242.0,73572.0,63606.0,9966.0,3795430.0,2233323.0,1562107.0
5,Aug. 2017,2407173.0,183249.0,74401.0,63158.0,11243.0,3910022.0,2344015.0,1566007.0
6,Sept. 2017,2357875.0,184248.0,73042.0,62140.0,10902.0,3874490.0,2295735.0,1578756.0
7,Oct. 2017,2310902.0,182074.0,76481.0,65200.0,11281.0,3829910.0,2245701.0,1584208.0
8,Nov. 2017,2378282.0,186968.0,74574.0,63827.0,10747.0,3907735.0,2314455.0,1593280.0
9,Dec. 2017,2309823.0,189269.0,76633.0,65549.0,11085.0,3850969.0,2244274.0,1606695.0
10,Jan. 2018,2281018.0,193209.0,77218.0,66417.0,10801.0,3824795.0,2214601.0,1610195.0
11,Feb. 2018,2305256.0,190487.0,78800.0,66481.0,12319.0,3855091.0,2238775.0,1616316.0
12,Mar. 2018,2230875.0,184151.0,75286.0,63866.0,11420.0,3800660.0,2167009.0,1633651.0
13,Apr. 2018,2151047.0,191270.0,75657.0,64855.0,10801.0,3727183.0,2086192.0,1640991.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Mar. 14, 2018",2290434.0,180526.0,73805.0,62011.0,11794.0,3859851.0,2228423.0,1631428.0
17,"Mar. 28, 2018",2184214.0,187557.0,76641.0,65760.0,10881.0,3753207.0,2118454.0,1634753.0
18,"Apr. 11, 2018",2170690.0,185173.0,75879.0,63685.0,12194.0,3745889.0,2107005.0,1638884.0
19,"Apr. 25, 2018",2162634.0,194180.0,75843.0,65644.0,10199.0,3738127.0,2096990.0,1641137.0
20,"May 9, 2018",2075389.0,196538.0,74646.0,65222.0,9424.0,3655386.0,2010167.0,1645219.0

In [37]:
df_html[2]

,Date,Borrowings from the Federal Reserve,Nonborrowed reserves 1,Unnamed: 3_level_0,Unnamed: 4_level_0,Unnamed: 5_level_0,Unnamed: 6_level_0
,Total,Primary,Secondary,Seasonal,Other credit extensions,Unnamed: 5_level_1,Unnamed: 6_level_1
0,Month 2,NaN,NaN,NaN,NaN,NaN,NaN
1,Jan. 2019,26.0,20.0,0.0,6.0,0.0,1707230.0
2,Feb. 2019,19.0,7.0,0.0,12.0,0.0,1713664.0
3,Mar. 2019,15.0,7.0,0.0,8.0,0.0,1725923.0
4,Apr. 2019,30.0,14.0,0.0,15.0,0.0,1623875.0
5,May 2019,56.0,18.0,0.0,38.0,0.0,1576254.0
6,June 2019,80.0,20.0,0.0,60.0,0.0,1601229.0
7,July 2019,120.0,9.0,0.0,111.0,0.0,1578495.0
8,Aug. 2019,117.0,16.0,0.0,101.0,0.0,1586727.0
9,Sept. 2019,101.0,15.0,0.0,86.0,0.0,1504704.0
10,Oct. 2019,63.0,4.0,0.0,59.0,0.0,1547073.0
11,Nov. 2019,26.0,4.0,0.0,22.0,0.0,1595196.0
12,Dec. 2019,21.0,10.0,0.0,11.0,0.0,1698323.0
13,Jan. 2020,6.0,5.0,0.0,1.0,0.0,1715213.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Two weeks ending 3,NaN,NaN,NaN,NaN,NaN,NaN
16,"Jan. 1, 2020",20.0,9.0,0.0,11.0,0.0,1704375.0
17,"Jan. 15, 2020",5.0,4.0,0.0,2.0,0.0,1738000.0
18,"Jan. 29, 2020",6.0,6.0,0.0,0.0,0.0,1690753.0
19,"Feb. 12, 2020",3.0,3.0,0.0,0.0,0.0,1732352.0
20,"Feb. 26, 2020",2.0,2.0,0.0,0.0,0.0,1709134.0