In [1]:
import pandas as pd
import numpy as np
import datetime as dt
from dateutil.parser import parse

## gerando dias

In [2]:
data_dia =  pd.date_range('20190101',periods=1000,freq='D')

data_dia[0:50]

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10', '2019-01-11', '2019-01-12',
               '2019-01-13', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18', '2019-01-19', '2019-01-20',
               '2019-01-21', '2019-01-22', '2019-01-23', '2019-01-24',
               '2019-01-25', '2019-01-26', '2019-01-27', '2019-01-28',
               '2019-01-29', '2019-01-30', '2019-01-31', '2019-02-01',
               '2019-02-02', '2019-02-03', '2019-02-04', '2019-02-05',
               '2019-02-06', '2019-02-07', '2019-02-08', '2019-02-09',
               '2019-02-10', '2019-02-11', '2019-02-12', '2019-02-13',
               '2019-02-14', '2019-02-15', '2019-02-16', '2019-02-17',
               '2019-02-18', '2019-02-19'],
              dtype='datetime64[ns]', freq='D')

In [3]:
time_dimension  = pd.DataFrame(data_dia,columns=["Data"])

time_dimension[0:5]

        Data
0 2019-01-01
1 2019-01-02
2 2019-01-03
3 2019-01-04
4 2019-01-05

## gerando o dia

In [23]:
time_dimension["Dia"] = time_dimension['Data'].dt.day

## gerando o Mes

In [25]:
time_dimension["Mes"] = time_dimension['Data'].dt.month

In [26]:
time_dimension["Ano"] = time_dimension['Data'].dt.year

In [27]:
time_dimension[0:5]

        Data  Dia  Mes   Ano
0 2019-01-01    1    1  2019
1 2019-01-02    2    1  2019
2 2019-01-03    3    1  2019
3 2019-01-04    4    1  2019
4 2019-01-05    5    1  2019

## Dia da semana

In [30]:
time_dimension['DiaSemana'] = time_dimension['Data'].dt.dayofweek

## gerando Mes

In [17]:
data_Mes =  pd.date_range('20190101',periods=12,freq='M')

data_Mes

DatetimeIndex(['2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30',
               '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31'],
              dtype='datetime64[ns]', freq='M')

## gerando Anos

In [20]:
data_Ano =  pd.date_range('20190101',periods=12,freq='A')

print(data_Ano)

DatetimeIndex(['2019-12-31', '2020-12-31', '2021-12-31', '2022-12-31',
               '2023-12-31', '2024-12-31', '2025-12-31', '2026-12-31',
               '2027-12-31', '2028-12-31', '2029-12-31', '2030-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## trimestre

In [35]:
time_dimension['Trimestre'] = time_dimension['Data'].dt.quarter

In [32]:
time_dimension[0:2]

        Data  Dia  Mes   Ano  DiaSemana  Trimestre
0 2019-01-01    1    1  2019          1          1
1 2019-01-02    2    1  2019          2          1
2 2019-01-03    3    1  2019          3          1
3 2019-01-04    4    1  2019          4          1
4 2019-01-05    5    1  2019          5          1
5 2019-01-06    6    1  2019          6          1
6 2019-01-07    7    1  2019          0          1
7 2019-01-08    8    1  2019          1          1
8 2019-01-09    9    1  2019          2          1
9 2019-01-10   10    1  2019          3          1

In [42]:
def get_mes(valor):
    switcher = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}
    return switcher[valor]

In [50]:
def get_dia_semana(valor):
    switcher = {
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday",
    0: "Sunday"
}
    return switcher[valor]

In [43]:
time_dimension['Mes_Extenso'] = [get_mes(item) for item in time_dimension["Mes"]]

In [52]:
list(time_dimension)

['Data', 'Dia', 'Mes', 'Ano', 'DiaSemana', 'Trimestre', 'Mes_Extenso']

In [53]:
time_dimension['DiaSemanaExtenso'] = [get_dia_semana(item) for item in time_dimension["DiaSemana"]]

In [54]:
time_dimension[0:10]

,Data,Dia,Mes,Ano,DiaSemana,Trimestre,Mes_Extenso,DiaSemanaExtenso
0,2019-01-01,1,1,2019,1,1,January,Monday
1,2019-01-02,2,1,2019,2,1,January,Tuesday
2,2019-01-03,3,1,2019,3,1,January,Wednesday
3,2019-01-04,4,1,2019,4,1,January,Thursday
4,2019-01-05,5,1,2019,5,1,January,Friday
5,2019-01-06,6,1,2019,6,1,January,Saturday
6,2019-01-07,7,1,2019,0,1,January,Sunday
7,2019-01-08,8,1,2019,1,1,January,Monday
8,2019-01-09,9,1,2019,2,1,January,Tuesday
9,2019-01-10,10,1,2019,3,1,January,Wednesday