## exercicios e deponstração de pandas

In [1]:
import os
import pandas as pd
import sqlite3

In [2]:


os.path

In [4]:


file_name = r"D:\Repos\AprendendoPython\Curso_Python_DSA\Cap03\Notebooks\binary.csv"

data = pd.read_csv(file_name,",")

data.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

## conectando o pandas ao sqllite

In [7]:

 diretorio_Conexao = r"Curso_Python_DSA\Pandas\dsa.db"

In [8]:
conexao = sqlite3.connect(diretorio_Conexao) 

cursor = conexao.cursor()

data = cursor.execute("SELECT  * from produtos p")

OperationalError: unable to open database file

In [14]:
type(data)

sqlite3.Cursor

In [15]:

datateset = pd.DataFrame(data.fetchall(),columns=["id","date","prod_name","valor"])

In [16]:

datateset.head()

   id                        date prod_name  valor
0  10         2018-05-02 14:32:11   Teclado   90.0
1  11  2020-01-29 16:54:35.975730   Teclado   61.0
2  12  2020-01-29 16:54:37.091664   Teclado   87.0
3  13  2020-01-29 16:54:38.173129   Teclado   59.0
4  14  2020-01-29 16:54:39.289968   Teclado   97.0