In [1]:
import pyodbc as PDB  # Drive para conexão com banco de dados
import pandas  as pd
import sys
import os
import traceback

In [2]:
diretorio = r'D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\Consolidacao'

## Verificação dos arquivos

In [3]:
for fichier in os.listdir(diretorio):
    sourceDir = diretorio + '\\' + fichier
    print(sourceDir)

D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\Consolidacao\CalculoCamposDate_V2_1.xlsx
D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\Consolidacao\CalculoCamposDate_V2_2.xlsx
D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\Consolidacao\CalculoCamposDate_V2_3.xlsx
D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\Consolidacao\CalculoCamposDate_V2_4.xlsx

In [5]:
dataset = pd.DataFrame()
frames  =[]

In [6]:
for fichier in os.listdir(diretorio):
    sourceDir = diretorio + '\\' + fichier
    dados  =pd.read_excel(sourceDir,index_col=0)
    frames.append(dados)

In [7]:

dataset = pd.concat(frames)

In [9]:
dataset.sample(10)

,SchemaName,TableName,Coluna,Type,Indexable,QuantidadeLinhas,JaValidado,QuantidadeBancos,ExisteHoraMinutosSegundos,DatabasesQuePossueValorHora,DatabasesQueNaoPossueValorHora,DatabasesTableVazio,QueryValidacao
id,,,,,,,,,,,,,
457,Licitacao,Licitacoes,Data,datetime2,True,10,True,387,False,NaN,nan|cau-df.implanta.net.br|cau-go.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Licita..."
398,Financeiro,ConfiguracoesHonorariosCustasDividaAtiva,VencimentoDataEspecificaCustas,datetime2,True,1,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|coffito-br.implanta...,"SELECT L.VencimentoDataEspecificaCustas,CAST(L..."
203,Planejamento,PlanosPlurianuais,DataInicio,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataInicio,CAST(L.DataInicio AS TIME)..."
260,Processo,ProcessosBloqueiosModelos,DataAtualizacao,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataAtualizacao,CAST(L.DataAtualizaca..."
1037,Financeiro,HistoricosDebitos,DataVencimento,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataVencimento,CAST(L.DataVencimento ..."
123,Viagem,ArquivosPassagensAereasHistoricos,Data,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Viagem..."
1070,Patrimonio,ConsumidoresServicos,DataTermino,datetime2,True,0,True,387,False,NaN,nan|crea-sp.implanta.net.br,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataTermino,CAST(L.DataTermino AS TIM..."
321,CRM,Chamados,DataHora,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataHora,CAST(L.DataHora AS TIME) FRO..."
610,DividaAtiva,CertidoesSituacoesSPCHistoricos,DataSituacao,datetime2,True,0,True,387,False,NaN,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataSituacao,CAST(L.DataSituacao AS T..."
975,Contabilidade,ArquivosIntegracao,DataCreditoContabil,datetime2,True,0,True,387,False,NaN,nan|coren-al.implanta.net.br|coren-es.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataCreditoContabil,CAST(L.DataCredit..."

In [13]:
campos_filtrados = dataset[~dataset['Coluna'].str.contains("Validade|Atualizacao|Cadastro|Criacao|Ultima|Hora|Modificacao|Previsao|Chancela")]

In [14]:
 campos_filtrados = campos_filtrados.query("QuantidadeLinhas > 0")

In [15]:
campos_filtrados

,SchemaName,TableName,Coluna,Type,Indexable,QuantidadeLinhas,JaValidado,QuantidadeBancos,ExisteHoraMinutosSegundos,DatabasesQuePossueValorHora,DatabasesQueNaoPossueValorHora,DatabasesTableVazio,QueryValidacao
id,,,,,,,,,,,,,
40,Viagem,PessoasSispadTiposDespesas,Data,datetime2,True,20,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ba.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Viagem..."
52,Patrimonio,AlertasItensADepreciarBensMoveis,DataReferencia,datetime2,True,479,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cff-br.implanta.net...,"SELECT L.DataReferencia,CAST(L.DataReferencia ..."
53,Patrimonio,AlertasItensADepreciarBensMoveis,DataTerminoPeriodo,datetime2,True,479,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cff-br.implanta.net...,"SELECT L.DataTerminoPeriodo,CAST(L.DataTermino..."
54,Patrimonio,AlertasItensADepreciarBensMoveis,DataLimiteContabilizacao,datetime2,True,479,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cff-br.implanta.net...,"SELECT L.DataLimiteContabilizacao,CAST(L.DataL..."
55,Patrimonio,AlertasItensADepreciarBensMoveis,DataFimVidaUtil,datetime2,True,479,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cff-br.implanta.net...,"SELECT L.DataFimVidaUtil,CAST(L.DataFimVidaUti..."
96,Financeiro,Emissoes,DataRecusa,datetime2,True,511533,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataRecusa,CAST(L.DataRecusa AS TIME)..."
130,DividaAtiva,Lancamentos,DataReimpressao,datetime2,True,46140,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-ce.implanta.net...,nan|caa-ma.implanta.net.br|cau-am.implanta.net...,"SELECT L.DataReimpressao,CAST(L.DataReimpressa..."
193,Acesso,ConsumidoresServicos,DataTermino,datetime2,True,6,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|consed-df.implanta....,"SELECT L.DataTermino,CAST(L.DataTermino AS TIM..."
207,Registro,RegistrosEspecialidades,DataExpedicao,datetime2,True,1122,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataExpedicao,CAST(L.DataExpedicao AS..."
238,Financeiro,ProcedimentosAtrasos,DataInicioVencimentoDebito,datetime2,True,3,True,387,False,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,NaN,"SELECT L.DataInicioVencimentoDebito,CAST(L.Dat..."
239,Financeiro,ProcedimentosAtrasos,DataFimVencimentoDebito,datetime2,True,3,True,387,False,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,NaN,"SELECT L.DataFimVencimentoDebito,CAST(L.DataFi..."
281,Compra,Solicitacoes,DatalLimite,datetime2,True,226,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-go.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DatalLimite,CAST(L.DatalLimite AS TIM..."
333,Contrato,Contratos,DataInicioVigencia,datetime2,True,97,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataInicioVigencia,CAST(L.DataInicioV..."
334,Contrato,Contratos,DataFinalVigencia,datetime2,True,97,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataFinalVigencia,CAST(L.DataFinalVig..."
335,Contrato,Contratos,DataRescisao,datetime2,True,97,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataRescisao,CAST(L.DataRescisao AS T..."
397,Financeiro,ConfiguracoesHonorariosCustasDividaAtiva,VencimentoDataEspecificaHonorario,datetime2,True,1,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|coffito-br.implanta...,"SELECT L.VencimentoDataEspecificaHonorario,CAS..."
398,Financeiro,ConfiguracoesHonorariosCustasDividaAtiva,VencimentoDataEspecificaCustas,datetime2,True,1,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|coffito-br.implanta...,"SELECT L.VencimentoDataEspecificaCustas,CAST(L..."
409,Almoxarifado,AtendimentosDevolucoes,Data,datetime2,True,1,True,387,False,NaN,nan|cau-df.implanta.net.br|cau-go.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Almoxa..."
423,Financeiro,ArquivosConciliacoesCielo,DataProcessamento,datetime2,True,24,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataProcessamento,CAST(L.DataProcessa..."
457,Licitacao,Licitacoes,Data,datetime2,True,10,True,387,False,NaN,nan|cau-df.implanta.net.br|cau-go.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Licita..."
466,Financeiro,ArquivosConciliacoesCieloHistoricos,DataCreditoAnterior,datetime2,True,1638,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataCreditoAnterior,CAST(L.DataCredit..."
467,Financeiro,ArquivosConciliacoesCieloHistoricos,ArquivoDataPrevistaPagamento,datetime2,True,1638,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.ArquivoDataPrevistaPagamento,CAST(L.A..."
468,Financeiro,ArquivosConciliacoesCieloHistoricos,ArquivoDataVenda,datetime2,True,1638,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.ArquivoDataVenda,CAST(L.ArquivoDataVe..."
488,Patrimonio,BensMoveis,DataEdicao,datetime2,True,976,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|confea-br.implanta....,"SELECT L.DataEdicao,CAST(L.DataEdicao AS TIME)..."
599,Financeiro,ConfiguracoesParcelamentos,DataInicioVencimentoDebito,datetime2,True,12,True,387,False,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,NaN,"SELECT L.DataInicioVencimentoDebito,CAST(L.Dat..."
600,Financeiro,ConfiguracoesParcelamentos,DataFimVencimentoDebito,datetime2,True,12,True,387,False,NaN,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,NaN,"SELECT L.DataFimVencimentoDebito,CAST(L.DataFi..."
634,Viagem,ProcessosPassagens,DataEmissao,datetime2,True,5,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-br.implanta.net...,nan|caa-ma.implanta.net.br|cau-am.implanta.net...,"SELECT L.DataEmissao,CAST(L.DataEmissao AS TIM..."
726,Contabilidade,SaldosIniciais,Data,datetime2,True,269,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cfta-br.implanta.ne...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Contab..."
940,Compra,Processos,Data,datetime2,True,443,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Compra..."
942,Compra,Processos,DataPublicacao,datetime2,True,443,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataPublicacao,CAST(L.DataPublicacao ..."
947,Processo,ProcessosPenalidades,DataEntregaCarteira,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataEntregaCarteira,CAST(L.DataEntreg..."
948,Processo,ProcessosPenalidades,DataRetiradaCarteira,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataRetiradaCarteira,CAST(L.DataRetir..."
949,Processo,ProcessosPenalidades,DataInicioVigencia,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataInicioVigencia,CAST(L.DataInicioV..."
951,Processo,ProcessosPenalidades,DataPublicacaoEditalInicial,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataPublicacaoEditalInicial,CAST(L.Da..."
952,Processo,ProcessosPenalidades,DataPublicacaoEditalFinal,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataPublicacaoEditalFinal,CAST(L.Data..."
955,Processo,ProcessosPenalidades,DataPenalidade,datetime2,True,3,True,387,False,NaN,nan|cress-mg.implanta.net.br|cress-rj.implanta...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataPenalidade,CAST(L.DataPenalidade ..."
986,Compra,OrdensCompras,DataVencimentoNotaFiscal,datetime2,True,254,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataVencimentoNotaFiscal,CAST(L.DataV..."
992,Registro,ConfiguracoesServicosOnline,BoletoVencimentoDataPadrao,datetime2,True,1,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cro-pa.implanta.net...,"SELECT L.BoletoVencimentoDataPadrao,CAST(L.Bol..."
1028,Registro,Registros,DataCompromissoOrigem,datetime2,True,49454,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-ce.implanta.net...,nan|caa-ma.implanta.net.br|cau-am.implanta.net...,"SELECT L.DataCompromissoOrigem,CAST(L.DataComp..."
1057,Viagem,ProcessosDespesasCompetencias,DataCompetencia,datetime2,True,837,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-br.implanta.net...,nan|caa-ma.implanta.net.br|cau-am.implanta.net...,"SELECT L.DataCompetencia,CAST(L.DataCompetenci..."
1064,Registro,ConfiguracoesServicosOnlineCupons,DataInicioVigencia,datetime2,True,1,True,387,False,NaN,nan|cra-sc.implanta.net.br|treinamento-siscaf....,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataInicioVigencia,CAST(L.DataInicioV..."
1065,Registro,ConfiguracoesServicosOnlineCupons,DataTerminoVigencia,datetime2,True,1,True,387,False,NaN,nan|cra-sc.implanta.net.br|treinamento-siscaf....,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataTerminoVigencia,CAST(L.DataTermin..."
1066,Almoxarifado,DevolucoesOrdemCompra,Data,datetime2,True,1,True,387,False,NaN,nan|cau-br.implanta.net.br|cau-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.Data,CAST(L.Data AS TIME) FROM Almoxa..."
1104,Documento,ConfiguracoesCamposPadroes,DataEspecifica,datetime2,True,2,True,387,False,NaN,nan|cau-pe.implanta.net.br|cau-sp.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataEspecifica,CAST(L.DataEspecifica ..."
1162,Viagem,Processos,DataCompetencia,datetime2,True,679,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ap.implanta.net...,"SELECT L.DataCompetencia,CAST(L.DataCompetenci..."
1181,Requerimento,ConfiguracoesTiposRequerimentosConfiguracoesVa...,IsencaoDataEspecifica,datetime2,True,5,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-ap.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.IsencaoDataEspecifica,CAST(L.IsencaoD..."
1208,Viagem,ProcessosDespesas,DataCotacao,datetime2,True,837,True,387,False,NaN,nan|cau-ac.implanta.net.br|cau-br.implanta.net...,nan|caa-ma.implanta.net.br|cau-am.implanta.net...,"SELECT L.DataCotacao,CAST(L.DataCotacao AS TIM..."
1280,Registro,SolicitacoesInscricoes,DataAprovacaoReprovacao,datetime2,True,13,True,387,False,NaN,nan|treinamento-siscaf.implanta.net.br,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataAprovacaoReprovacao,CAST(L.DataAp..."
1294,Licitacao,LicitacoesFases,DataUltimoEnvioAlerta,datetime2,True,10,True,387,False,NaN,nan|cau-df.implanta.net.br|cau-go.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataUltimoEnvioAlerta,CAST(L.DataUlti..."
1305,Financeiro,ConfiguracoesGeracoesDebitos,DataInicioVigencia,datetime2,True,12,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataInicioVigencia,CAST(L.DataInicioV..."
1306,Financeiro,ConfiguracoesGeracoesDebitos,DataTerminoVigencia,datetime2,True,12,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataTerminoVigencia,CAST(L.DataTermin..."
1310,Financeiro,ArquivosConciliacoesCieloHistoricosErros,ArquivoDataPrevistaPagamento,datetime2,True,672,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.ArquivoDataPrevistaPagamento,CAST(L.A..."
1311,Financeiro,ArquivosConciliacoesCieloHistoricosErros,ArquivoDataVenda,datetime2,True,672,True,387,False,NaN,nan|cra-am.implanta.net.br|cra-df.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.ArquivoDataVenda,CAST(L.ArquivoDataVe..."
1347,Financeiro,ConfiguracoesGeracoesDebitosConfiguracoesValor...,IsencaoDataEspecifica,datetime2,True,30,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.IsencaoDataEspecifica,CAST(L.IsencaoD..."
1348,Financeiro,ConfiguracoesGeracoesDebitosConfiguracoesValor...,DescontoDataEspecifica,datetime2,True,30,True,387,False,NaN,nan|cra-al.implanta.net.br|cra-am.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DescontoDataEspecifica,CAST(L.Descont..."
1361,Processo,AndamentosLotes,DataReferencia,datetime2,True,2,True,387,False,NaN,nan|cau-rs.implanta.net.br|cro-sp.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataReferencia,CAST(L.DataReferencia ..."
1362,Processo,AndamentosLotes,DataTermino,datetime2,True,2,True,387,False,NaN,nan|cau-rs.implanta.net.br|cro-sp.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataTermino,CAST(L.DataTermino AS TIM..."
1365,Processo,AndamentosLotes,DataBaixaDeDistribuicao,datetime2,True,2,True,387,False,NaN,nan|cau-rs.implanta.net.br|cro-sp.implanta.net...,nan|caa-ma.implanta.net.br|cau-ac.implanta.net...,"SELECT L.DataBaixaDeDistribuicao,CAST(L.DataBa..."

In [17]:
campos_filtrados.sort_values('SchemaName').to_excel(r'D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\CalculoCamposDate_V2_Agregado.xlsx', index = True)

## Planilha  enviada aos lideres

In [20]:
diretorio = r'D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date'
nomePlanilha =r'\Primeira_Planilha_Enviada_AosLideres.xlsx'

In [39]:
dados  =pd.read_excel(diretorio+''+nomePlanilha)

In [40]:
dados  = dados[~dados['Coluna'].str.contains("Validade|Atualizacao|Cadastro|Criacao|Ultima|Hora|Modificacao|Previsao|Chancela|Emissao")]

In [56]:
dados_planilha_1 = dados[['SchemaName','TableName','Coluna','TotalLinhas']]

dados_planilha_1.rename(columns={"TotalLinhas": "QuantidadeLinhas"},inplace=True)

dados_planilha_1

,SchemaName,TableName,Coluna,QuantidadeLinhas
0,Financeiro,ProcessamentoArquivosRetornosItens,DataCredito,4045490
1,Financeiro,ProcessamentoArquivosRetornosItens,DataPagamento,4045490
3,Acesso,SessoesImplanta,DataImplantaToken,2548
4,Acesso,Usuarios,DataInicioAcessoTemporario,1533
5,Acesso,Usuarios,DataTerminoAcessoTemporario,1396
6,Acesso,Usuarios,DataValidaSenha,595
7,Registro,EleicoesUrnasVotantes,DataVotacao,483433
8,Acesso,ConsumidoresServicos,DataInicio,85
9,Acesso,ConsumidoresServicos,DataTermino,16
10,Agenda,LancamentosFinanceiros,CompensacaoData,14241
11,Agenda,SaldosIniciais,DataMovimento,67
12,Registro,Registros,DataPrimeiraInscricao,262085
13,Registro,Registros,DataRegistroOrigem,219841
14,Registro,Registros,DataCompromissoOrigem,219841
15,Registro,FormacoesAcademicas,DataInicio,194393
16,Contabilidade,SaldosIniciais,Data,19772
17,Contabilidade,ArquivosIntegracao,DataCreditoContabil,5031
18,Contabilidade,PeriodosContabilizacoes,DataFim,28
19,Contabilidade,PeriodosContabilizacoes,DataInicio,28
20,Viagem,ProcessosDespesasCompetencias,DataCompetencia,92630
21,Cadastro,PessoasJuridicas,DataJuntaComercial,57262
22,Viagem,Processos,DataCompetencia,51529
23,Despesa,SaidasFinanceiras,DataVencimentoCNAB,1082983
24,Despesa,Liquidacoes,DataAtesto,500350
25,DividaAtiva,LancamentosDebitos,DataVencimentoOriginal,44924
26,Registro,RegistrosEspecialidades,DataInicioCurso,38518
27,Registro,RegistrosEspecialidades,DataPlenaria,38514
28,Registro,RegistrosEspecialidades,DataTerminoCurso,38466
29,Cadastro,PessoasJuridicas,DataCartorio,37010
31,Despesa,RelacoesCreditosSaidas,DataVencimentoCNAB,477874
...,...,...,...,...
235,Processo,ProcessosAndamentos,DataPlenaria,3
236,Compra,SolicitacoesSituacoes,Data,3
237,Corporativo,Eventos,Inicio,2
238,Corporativo,Eventos,Termino,2
239,Cadastro,Conselheiros,MandatoDataFim,2
240,Plenaria,Plenarias,DataLimiteRequerimentos,2
241,Recadastramento,CampanhasRecadastramento,DataFimPreenchimento,2
242,Registro,FormacoesAcademicas,DataColacao,2
245,Transparencia,ManifestacoesOUVAdmin,Data,2
246,Patrimonio,Inventarios,DataInicio,4
247,Patrimonio,BensImoveisAlugueis,DataFinal,2
248,Registro,PeriodicosRemessas,DataPrevistaEntregaCarga,1
249,Recadastramento,CampanhasRecadastramento,DataInicioPreenchimento,1
251,Registro,Atestados,DataVigencia,1
252,Registro,ConfiguracoesServicosOnlineCupons,DataInicioVigencia,1
253,Registro,ConfiguracoesServicosOnlineCupons,DataTerminoVigencia,1
254,Compra,OrdensServicosItensExecucoes,Data,1
255,Contrato,Penalizacoes,DataInicio,1
256,Contrato,Penalizacoes,DataTerminio,1
257,Contrato,TermosRepactuacoes,Data,1
258,Contrato,TermosRepactuacoes,DataAssinatura,1
259,Contrato,TermosRepactuacoes,DataVencimento,1
260,Contrato,TermosRepactuacoes,DataVigencia,1
261,Fiscalizacao,Visitas,DataVisita,1
262,Patrimonio,ConsumidoresServicos,DataInicio,1
263,Patrimonio,ConsumidoresServicos,DataTermino,1
264,Receita,RecebimentosCartoes,DataArquivo,120250
265,Receita,ReceitasARealizar,Data,29237
266,Receita,Recebimentos,DataRecebimento,1122
267,Financeiro,ArquivosBancarios,DataGeracaoArquivo,1

In [57]:
dados_planilha_2 = campos_filtrados[['SchemaName','TableName','Coluna','QuantidadeLinhas']]

In [58]:
agregador = pd.concat([dados_planilha_1,dados_planilha_2])

In [60]:
agregador.sample(5)

,SchemaName,TableName,Coluna,QuantidadeLinhas
13,Registro,Registros,DataRegistroOrigem,219841
113,Licitacao,LicitacoesFases,DataFim,1255
3,Acesso,SessoesImplanta,DataImplantaToken,2548
221,Viagem,ProcessosPassagensTrechos,DataVolta,9
949,Processo,ProcessosPenalidades,DataInicioVigencia,3

In [64]:
agregador.drop_duplicates().to_excel(r'D:\1.Implanta(Nunca Apagar)\Power BI Implanta\Compressão Banco\Alterações Datetime2 para Date\CalculoCamposDate_Final.xlsx', index = True)

## guarda as informaçoes no banco de dados

In [65]:
server = 'rgdev-sqlsrv-dev01.database.windows.net'
database = '15-1implanta'
username = 'implantadev01'
password = 'Impl@ntadev01'
driver= '{ODBC Driver 17 for SQL Server}'

In [66]:
def get_conection(driver,server,database,username,password):
    _conexao = PDB.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
    return _conexao

In [67]:
conexao =get_conection(driver,server,database,username,password)

In [70]:
cursor = conexao.cursor()

for index,row in agregador.iterrows():
    sql = "INSERT INTO dbo.CamposDatetime2ForDate  VALUES (?, ?, ?, ?)"
    cursor.execute(sql, (row['SchemaName'],row['TableName'],row['Coluna'],row['QuantidadeLinhas']))
    conexao.commit()
   
cursor.close()
conexao.close()