## importando as bibliotecas Necessárias

In [2]:
import datetime
import json 
import pandas as pd
from pymongo import MongoClient

## Carregar as dados do arquivo aluguel.csv

In [102]:
diretorio = r"F:\VersionCode\AprendendoPython\AprendendoPython\arquivos\aluguel.csv"

In [103]:
class AluguelEntity():
    def __init__(self,tipo,bairro,quartos,vagas,suites,area,valor,condominio,iptu,data=None):
        self.Tipo =tipo
        self.Bairro =bairro
        self.Quartos =quartos
        self.Vagas =vagas
        self.Suites =suites
        self.Area =area
        self.Valor =valor
        self.Condominio  =condominio
        self.IPTU =iptu

In [104]:


dataset = pd.read_csv(diretorio,";")

dataset.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [111]:
dados =[]

## transformar os dados em uma lista de dicionarios JSon
https://www.geeksforgeeks.org/pandas-parsing-json-dataset/
https://stackoverflow.com/questions/10292368/insert-python-object-in-mongodb

In [117]:
dataset.shape

(32960, 9)

In [112]:
for  index, rows in dataset.iterrows():
    entidade = AluguelEntity(rows.Tipo,rows.Bairro,rows.Quartos,rows.Vagas,rows.Suites,rows.Area,rows.Valor,rows.Condominio,rows.IPTU)
    value = json.dumps(entidade, default=lambda x:x.__dict__)
    value = json.loads(value)
    dados.append(value)

In [113]:
dados

  'Bairro': 'Copacabana',
  'Quartos': 0,
  'Vagas': 9,
  'Suites': 0,
  'Area': 0,
  'Valor': 450.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 3,
  'Area': 89,
  'Valor': 4500.0,
  'Condominio': 1200.0,
  'IPTU': 211.0},
 {'Tipo': 'Galpão/Depósito/Armazém',
  'Bairro': 'Tijuca',
  'Quartos': 0,
  'Vagas': 60,
  'Suites': 0,
  'Area': 700,
  'Valor': 9900.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 4,
  'Vagas': 3,
  'Suites': 2,
  'Area': 398,
  'Valor': 16000.0,
  'Condominio': 2600.0,
  'IPTU': 11000.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 2,
  'Vagas': 2,
  'Suites': 1,
  'Area': 130,
  'Valor': 8000.0,
  'Condominio': 2000.0,
  'IPTU': 660.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 69,
  'Valor': 2500.0,
  'Condominio': 940.0,
  'IPTU': 800.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 4,
  'Vagas': 2,
  'Suites': 1,
  'Area': 200,
  'Valor': 9500.0,
  'Condominio': 3600.0,
  'IPTU': 1500.0},
 {'Tipo': 'Loja Shopping/ Ct Comercial',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 105,
  'Valor': 6000.0,
  'Condominio': 490.0,
  'IPTU': 1.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 28,
  'Valor': 800.0,
  'Condominio': 720.0,
  'IPTU': 130.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 1,
  'Vagas': 1,
  'Suites': 1,
  'Area': 45,
  'Valor': 1500.0,
  'Condominio': 1200.0,
  'IPTU': 440.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Botafogo',
  'Quartos': 1,
  'Vagas': 1,
  'Suites': 0,
  'Area': 65,
  'Valor': 2200.0,
  'Condominio': 679.0,
  'IPTU': 27.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 2,
  'Area': 100,
  'Valor': 10000.0,
  'Condominio': 5155.0,
  'IPTU': 502.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Méier',
  'Quartos': 3,
  'Vagas': 0,
  'Suites': 0,
  'Area': 60,
  'Valor': 1300.0,
  'Condominio': 450.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 2,
  'Suites': 1,
  'Area': 75,
  'Valor': 1400.0,
  'Condominio': 800.0,
  'IPTU': 100.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 2,
  'Area': 155,
  'Valor': 7200.0,
  'Condominio': 1515.0,
  'IPTU': 538.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 70,
  'Valor': 1600.0,
  'Condominio': 740.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 2,
  'Vagas': 2,
  'Suites': 1,
  'Area': 65,
  'Valor': 5000.0,
  'Condominio': 1950.0,
  'IPTU': 300.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 26,
  'Valor': 700.0,
  'Condominio': 450.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 4,
  'Suites': 0,
  'Area': 250,
  'Valor': 3000.0,
  'Condominio': 2120.0,
  'IPTU': 506.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Tijuca',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 1,
  'Area': 150,
  'Valor': 2000.0,
  'Condominio': 1700.0,
  'IPTU': 210.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 4,
  'Vagas': 3,
  'Suites': 4,
  'Area': 245,
  'Valor': 11000.0,
  'Condominio': 3000.0,
  'IPTU': 544.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Penha',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 178,
  'Valor': 2500.0,
  'Condominio': nan,
  'IPTU': 290.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Lagoa',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 3,
  'Area': 125,
  'Valor': 4800.0,
  'Condominio': 1600.0,
  'IPTU': 460.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 2,
  'Vagas': 0,
  'Suites': 1,
  'Area': 71,
  'Valor': 6700.0,
  'Condominio': 2070.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Anil',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 46,
  'Valor': 1100.0,
  'Condominio': 430.0,
  'IPTU': 12.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Botafogo',
  'Quartos': 0,
  'Vagas': 7,
  'Suites': 0,
  'Area': 457,
  'Valor': 50000.0,
  'Condominio': 17546.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 320,
  'Valor': 16000.0,
  'Condominio': 6340.0,
  'IPTU': 1775.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Freguesia (Jacarepaguá)',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 70,
  'Valor': 1300.0,
  'Condominio': 720.0,
  'IPTU': 85.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Copacabana',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 1,
  'Area': 39,
  'Valor': 1800.0,
  'Condominio': 600.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Santa Teresa',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 21,
  'Valor': 800.0,
  'Condominio': 312.0,
  'IPTU': 15.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Vila Isabel',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 0,
  'Area': 95,
  'Valor': 1250.0,
  'Condominio': 650.0,
  'IPTU': 60.0},
 {'Tipo': 'Casa de Condomínio',
  'Bairro': 'Joá',
  'Quartos': 6,
  'Vagas': 4,
  'Suites': 6,
  'Area': 550,
  'Valor': 25000.0,
  'Condominio': nan,
  'IPTU': 672.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Copacabana',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 36,
  'Valor': 2200.0,
  'Condominio': 590.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 67,
  'Valor': 2000.0,
  'Condominio': 1300.0,
  'IPTU': 119.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Copacabana',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 1,
  'Area': 190,
  'Valor': 7000.0,
  'Condominio': 2000.0,
  'IPTU': 639.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Andaraí',
  'Quartos': 3,
  'Vagas': 0,
  'Suites': 0,
  'Area': 64,
  'Valor': 1300.0,
  'Condominio': 310.0,
  'IPTU': 20.0},
 {'Tipo': 'Loja/Salão',
  'Bairro': 'Quintino Bocaiúva',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 100,
  'Valor': 2200.0,
  'Condominio': nan,
  'IPTU': 16.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 60,
  'Valor': 2000.0,
  'Condominio': 860.0,
  'IPTU': 170.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 3,
  'Vagas': 0,
  'Suites': 0,
  'Area': 90,
  'Valor': 3500.0,
  'Condominio': 998.0,
  'IPTU': 95.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 200,
  'Valor': 6000.0,
  'Condominio': 3730.0,
  'IPTU': 500.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Copacabana',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 0,
  'Area': 90,
  'Valor': 3800.0,
  'Condominio': 900.0,
  'IPTU': 230.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'São Conrado',
  'Quartos': 4,
  'Vagas': 4,
  'Suites': 2,
  'Area': 460,
  'Valor': 10000.0,
  'Condominio': 5600.0,
  'IPTU': 500.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 35,
  'Valor': 2000.0,
  'Condominio': 1009.0,
  'IPTU': 262.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 1,
  'Area': 82,
  'Valor': 2000.0,
  'Condominio': 989.0,
  'IPTU': 1313.0},
 {'Tipo': 'Casa',
  'Bairro': 'Campo Grande',
  'Quartos': 5,
  'Vagas': 2,
  'Suites': 5,
  'Area': 120,
  'Valor': 10000.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Casa Comercial',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 2,
  'Suites': 0,
  'Area': 258,
  'Valor': 14000.0,
  'Condominio': 4900.0,
  'IPTU': 1000.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Curicica',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 58,
  'Valor': 1350.0,
  'Condominio': 590.0,
  'IPTU': 560.0},
 {'Tipo': 'Loja/Salão',
  'Bairro': 'Gamboa',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 40,
  'Valor': 1300.0,
  'Condominio': nan,
  'IPTU': 154.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Flamengo',
  'Quartos': 4,
  'Vagas': 0,
  'Suites': 1,
  'Area': 648,
  'Valor': 18000.0,
  'Condominio': 3540.0,
  'IPTU': 2187.0},
 {'Tipo': 'Casa',
  'Bairro': 'Vargem Grande',
  'Quartos': 7,
  'Vagas': 10,
  'Suites': 2,
  'Area': 500,
  'Valor': 12000.0,
  'Condominio': nan,
  'IPTU': 20.0},
 {'Tipo': 'Casa de Condomínio',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 5,
  'Vagas': 5,
  'Suites': 5,
  'Area': 600,
  'Valor': 20000.0,
  'Condominio': 2300.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'São Conrado',
  'Quartos': 4,
  'Vagas': 3,
  'Suites': 1,
  'Area': 260,
  'Valor': 8500.0,
  'Condominio': 3650.0,
  'IPTU': 1170.0},
 {'Tipo': 'Loja Shopping/ Ct Comercial',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 2,
  'Suites': 0,
  'Area': 84,
  'Valor': 5500.0,
  'Condominio': 995.0,
  'IPTU': 420.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 3,
  'Vagas': 3,
  'Suites': 2,
  'Area': 270,
  'Valor': 16000.0,
  'Condominio': 3100.0,
  'IPTU': 7813.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Camorim',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 51,
  'Valor': 1200.0,
  'Condominio': 550.0,
  'IPTU': 650.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Lagoa',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 1,
  'Area': 162,
  'Valor': 5500.0,
  'Condominio': 1500.0,
  'IPTU': 627.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 85,
  'Valor': 1600.0,
  'Condominio': 960.0,
  'IPTU': 90.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 50,
  'Valor': 2100.0,
  'Condominio': 630.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Cachambi',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 55,
  'Valor': 1200.0,
  'Condominio': 364.0,
  'IPTU': nan},
 {'Tipo': 'Casa',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 4,
  'Vagas': 6,
  'Suites': 2,
  'Area': 800,
  'Valor': 9800.0,
  'Condominio': nan,
  'IPTU': 490.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Méier',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 77,
  'Valor': 1000.0,
  'Condominio': 925.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 1,
  'Vagas': 1,
  'Suites': 1,
  'Area': 69,
  'Valor': 1900.0,
  'Condominio': 1007.0,
  'IPTU': 159.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 151,
  'Valor': 6040.0,
  'Condominio': 5200.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Botafogo',
  'Quartos': 0,
  'Vagas': 17,
  'Suites': 0,
  'Area': 795,
  'Valor': 107394.0,
  'Condominio': 29832.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Bangu',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 24,
  'Valor': 800.0,
  'Condominio': 454.0,
  'IPTU': 21.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 116,
  'Valor': 2600.0,
  'Condominio': 1090.0,
  'IPTU': nan},
 {'Tipo': 'Loja Shopping/ Ct Comercial',
  'Bairro': 'Vila da Penha',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 145,
  'Valor': 7000.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Quitinete',
  'Bairro': 'Copacabana',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 28,
  'Valor': 1500.0,
  'Condominio': 450.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Maracanã',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 85,
  'Valor': 2500.0,
  'Condominio': 492.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Copacabana',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 29,
  'Valor': 1600.0,
  'Condominio': 494.0,
  'IPTU': 101.0},
 {'Tipo': 'Galpão/Depósito/Armazém',
  'Bairro': 'Vigário Geral',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 2170,
  'Valor': 40000.0,
  'Condominio': nan,
  'IPTU': 2784.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Colégio',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 58,
  'Valor': 950.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Casa',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 3,
  'Vagas': 0,
  'Suites': 0,
  'Area': 614,
  'Valor': 4500.0,
  'Condominio': nan,
  'IPTU': 576.0},
 {'Tipo': 'Casa',
  'Bairro': 'Tijuca',
  'Quartos': 4,
  'Vagas': 6,
  'Suites': 0,
  'Area': 160,
  'Valor': 3500.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Tijuca',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 1,
  'Area': 80,
  'Valor': 3000.0,
  'Condominio': 967.0,
  'IPTU': 184.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 70,
  'Valor': 1150.0,
  'Condominio': 1260.0,
  'IPTU': 160.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 90,
  'Valor': 3500.0,
  'Condominio': 1150.0,
  'IPTU': 3300.0},
 {'Tipo': 'Galpão/Depósito/Armazém',
  'Bairro': 'Irajá',
  'Quartos': 0,
  'Vagas': 34,
  'Suites': 0,
  'Area': 14730,
  'Valor': 301965.0,
  'Condominio': 55974.0,
  'IPTU': 13257.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 21,
  'Valor': 1200.0,
  'Condominio': 550.0,
  'IPTU': 100.0},
 {'Tipo': 'Casa Comercial',
  'Bairro': 'Bonsucesso',
  'Quartos': 0,
  'Vagas': 2,
  'Suites': 0,
  'Area': 180,
  'Valor': 4500.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 2,
  'Area': 262,
  'Valor': 20000.0,
  'Condominio': 2579.0,
  'IPTU': 1351.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Rocha Miranda',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 33,
  'Valor': 750.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Laranjeiras',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 63,
  'Valor': 2500.0,
  'Condominio': 968.0,
  'IPTU': 93.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Laranjeiras',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 79,
  'Valor': 2300.0,
  'Condominio': 780.0,
  'IPTU': 118.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Jardim Botânico',
  'Quartos': 2,
  'Vagas': 2,
  'Suites': 1,
  'Area': 83,
  'Valor': 3500.0,
  'Condominio': 1790.0,
  'IPTU': 196.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 660,
  'Valor': 56100.0,
  'Condominio': 8400.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Vila Isabel',
  'Quartos': 2,
  'Vagas': 0,
  'Suites': 0,
  'Area': 80,
  'Valor': 1700.0,
  'Condominio': 450.0,
  'IPTU': 60.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 60,
  'Valor': 1500.0,
  'Condominio': 898.0,
  'IPTU': 168.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Laranjeiras',
  'Quartos': 4,
  'Vagas': 2,
  'Suites': 1,
  'Area': 270,
  'Valor': 5500.0,
  'Condominio': 2750.0,
  'IPTU': 420.0},
 {'Tipo': 'Prédio Inteiro',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 1164,
  'Valor': 40000.0,
  'Condominio': nan,
  'IPTU': 8682.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'São Conrado',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 1,
  'Area': 157,
  'Valor': 6400.0,
  'Condominio': 1792.0,
  'IPTU': 460.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 80,
  'Valor': 1555.0,
  'Condominio': nan,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 2,
  'Area': 108,
  'Valor': 5800.0,
  'Condominio': 1735.0,
  'IPTU': 368.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 1,
  'Area': 166,
  'Valor': 7000.0,
  'Condominio': 3400.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Botafogo',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 53,
  'Valor': 1600.0,
  'Condominio': 770.0,
  'IPTU': 70.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 21,
  'Valor': 800.0,
  'Condominio': 727.0,
  'IPTU': nan},
 {'Tipo': 'Quitinete',
  'Bairro': 'Copacabana',
  'Quartos': 1,
  'Vagas': 0,
  'Suites': 0,
  'Area': 15,
  'Valor': 800.0,
  'Condominio': 305.0,
  'IPTU': 24.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 27,
  'Valor': 700.0,
  'Condominio': 700.0,
  'IPTU': 47.0},
 {'Tipo': 'Galpão/Depósito/Armazém',
  'Bairro': 'Pavuna',
  'Quartos': 0,
  'Vagas': 8,
  'Suites': 0,
  'Area': 1981,
  'Valor': 39630.0,
  'Condominio': 7928.0,
  'IPTU': 2377.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 33,
  'Valor': 1000.0,
  'Condominio': 500.0,
  'IPTU': 1000.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Lagoa',
  'Quartos': 3,
  'Vagas': 1,
  'Suites': 1,
  'Area': 120,
  'Valor': 5500.0,
  'Condominio': 1080.0,
  'IPTU': 555.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 220,
  'Valor': 12000.0,
  'Condominio': 4800.0,
  'IPTU': 1365.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 3,
  'Vagas': 2,
  'Suites': 2,
  'Area': 168,
  'Valor': 3500.0,
  'Condominio': 2138.0,
  'IPTU': 401.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Tijuca',
  'Quartos': 2,
  'Vagas': 0,
  'Suites': 1,
  'Area': 48,
  'Valor': 1700.0,
  'Condominio': 700.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 1,
  'Area': 60,
  'Valor': 2800.0,
  'Condominio': 900.0,
  'IPTU': 149.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 259,
  'Valor': 23319.0,
  'Condominio': 5036.0,
  'IPTU': 572.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 35,
  'Valor': 1250.0,
  'Condominio': 1000.0,
  'IPTU': 206.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Laranjeiras',
  'Quartos': 4,
  'Vagas': 0,
  'Suites': 2,
  'Area': 217,
  'Valor': 9000.0,
  'Condominio': 1200.0,
  'IPTU': nan},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 375,
  'Valor': 28125.0,
  'Condominio': 6000.0,
  'IPTU': nan},
 {'Tipo': 'Apartamento',
  'Bairro': 'Ipanema',
  'Quartos': 2,
  'Vagas': 0,
  'Suites': 0,
  'Area': 73,
  'Valor': 3000.0,
  'Condominio': 700.0,
  'IPTU': 190.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 56,
  'Valor': 1400.0,
  'Condominio': 931.0,
  'IPTU': 175.0},
 {'Tipo': 'Casa de Condomínio',
  'Bairro': 'Recreio dos Bandeirantes',
  'Quartos': 4,
  'Vagas': 4,
  'Suites': 4,
  'Area': 540,
  'Valor': 10500.0,
  'Condominio': 850.0,
  'IPTU': 1000.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Centro',
  'Quartos': 0,
  'Vagas': 0,
  'Suites': 0,
  'Area': 70,
  'Valor': 2300.0,
  'Condominio': 1960.0,
  'IPTU': 249.0},
 {'Tipo': 'Apartamento',
  'Bairro': 'Leblon',
  'Quartos': 2,
  'Vagas': 1,
  'Suites': 0,
  'Area': 73,
  'Valor': 3800.0,
  'Condominio': 1100.0,
  'IPTU': 210.0},
 {'Tipo': 'Conjunto Comercial/Sala',
  'Bairro': 'Barra da Tijuca',
  'Quartos': 0,
  'Vagas': 1,
  'Suites': 0,
  'Area': 80,
  'Valor': 4500.0,
  'Condominio': 1800.0,
  'IPTU': nan},
 ...]

## Fazer a conexão com o MongoDB

In [17]:
conn = MongoClient('localhost', 27017)

database = conn.Imobiliaria

In [18]:
type(database)

pymongo.database.Database

In [19]:
collection = database.Alugueis

## Iterar sobre cadas item da lista e fazer o insert no Mongo DB

In [118]:
for item in dados:
    collection.insert_one(item)

## Recupera um registro para saber se houve inserções

In [4]:
database.Alugueis.find_one()

{'_id': ObjectId('5e2a07142bb8be5841a0a088'),
 'Tipo': 'Quitinete',
 'Bairro': 'Copacabana',
 'Quartos': 1,
 'Vagas': 0,
 'Suites': 0,
 'Area': 40,
 'Valor': 1700.0,
 'Condominio': 500.0,
 'IPTU': 60.0}

## encerra a conexão com o o banco de dados

In [5]:
conn.close()

## recupera os dados do Mongo DB e Cria um Data Set no Pandas

In [23]:
conn = MongoClient('localhost', 27017)

databaseImobiliaria = conn.Imobiliaria

In [21]:


for item in databaseImobiliaria.Alugueis.find():
    print(item)

0}
{'_id': ObjectId('5e2a07212bb8be5841a120e5'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 3, 'Vagas': 3, 'Suites': 3, 'Area': 266, 'Valor': 8900.0, 'Condominio': 3500.0, 'IPTU': 480.0}
{'_id': ObjectId('5e2a07212bb8be5841a120e6'), 'Tipo': 'Apartamento', 'Bairro': 'Irajá', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 62, 'Valor': 1000.0, 'Condominio': 300.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120e7'), 'Tipo': 'Apartamento', 'Bairro': 'São Conrado', 'Quartos': 4, 'Vagas': 2, 'Suites': 1, 'Area': 166, 'Valor': 4000.0, 'Condominio': 1933.0, 'IPTU': 388.0}
{'_id': ObjectId('5e2a07212bb8be5841a120e8'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 4, 'Vagas': 2, 'Suites': 1, 'Area': 178, 'Valor': 15000.0, 'Condominio': 2541.0, 'IPTU': 696.0}
{'_id': ObjectId('5e2a07212bb8be5841a120e9'), 'Tipo': 'Casa de Vila', 'Bairro': 'Pavuna', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 55, 'Valor': 600.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120ea'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Del Castilho', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 175, 'Valor': 3000.0, 'Condominio': nan, 'IPTU': 199.0}
{'_id': ObjectId('5e2a07212bb8be5841a120eb'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Barra da Tijuca', 'Quartos': 4, 'Vagas': 3, 'Suites': 2, 'Area': 250, 'Valor': 7500.0, 'Condominio': 1300.0, 'IPTU': 680.0}
{'_id': ObjectId('5e2a07212bb8be5841a120ec'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Jardim Botânico', 'Quartos': 1, 'Vagas': 3, 'Suites': 0, 'Area': 500, 'Valor': 17000.0, 'Condominio': nan, 'IPTU': 1000.0}
{'_id': ObjectId('5e2a07212bb8be5841a120ed'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Barra da Tijuca', 'Quartos': 4, 'Vagas': 3, 'Suites': 4, 'Area': 460, 'Valor': 12000.0, 'Condominio': 1000.0, 'IPTU': 1200.0}
{'_id': ObjectId('5e2a07212bb8be5841a120ee'), 'Tipo': 'Apartamento', 'Bairro': 'Campo Grande', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 45, 'Valor': 770.0, 'Condominio': 230.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120ef'), 'Tipo': 'Apartamento', 'Bairro': 'Laranjeiras', 'Quartos': 1, 'Vagas': 1, 'Suites': 0, 'Area': 50, 'Valor': 2500.0, 'Condominio': 800.0, 'IPTU': 600.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f0'), 'Tipo': 'Apartamento', 'Bairro': 'Lagoa', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 200, 'Valor': 10000.0, 'Condominio': 1479.0, 'IPTU': 800.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f1'), 'Tipo': 'Apartamento', 'Bairro': 'Lagoa', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 139, 'Valor': 7000.0, 'Condominio': 720.0, 'IPTU': 463.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f2'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 4, 'Vagas': 3, 'Suites': 4, 'Area': 366, 'Valor': 12800.0, 'Condominio': 3157.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120f3'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 73, 'Valor': 3000.0, 'Condominio': 500.0, 'IPTU': 284.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f4'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 72, 'Valor': 1700.0, 'Condominio': 870.0, 'IPTU': 160.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f5'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 4, 'Vagas': 2, 'Suites': 2, 'Area': 230, 'Valor': 7000.0, 'Condominio': 1490.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120f6'), 'Tipo': 'Apartamento', 'Bairro': 'Tijuca', 'Quartos': 3, 'Vagas': 1, 'Suites': 0, 'Area': 75, 'Valor': 1900.0, 'Condominio': 860.0, 'IPTU': 141.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f7'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 32, 'Valor': 1500.0, 'Condominio': 360.0, 'IPTU': 130.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f8'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 105, 'Valor': 3500.0, 'Condominio': 1400.0, 'IPTU': 271.0}
{'_id': ObjectId('5e2a07212bb8be5841a120f9'), 'Tipo': 'Apartamento', 'Bairro': 'Taquara', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 71, 'Valor': 1300.0, 'Condominio': 470.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120fa'), 'Tipo': 'Apartamento', 'Bairro': 'Irajá', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 50, 'Valor': 900.0, 'Condominio': 300.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a120fb'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Jacarepaguá', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 28, 'Valor': 650.0, 'Condominio': 787.0, 'IPTU': 104.0}
{'_id': ObjectId('5e2a07212bb8be5841a120fc'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Botafogo', 'Quartos': 0, 'Vagas': 18, 'Suites': 0, 'Area': 958, 'Valor': 95784.0, 'Condominio': 29698.0, 'IPTU': 5509.0}
{'_id': ObjectId('5e2a07212bb8be5841a120fd'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 27, 'Valor': 1000.0, 'Condominio': 432.0, 'IPTU': 84.0}
{'_id': ObjectId('5e2a07212bb8be5841a120fe'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 400, 'Valor': 9900.0, 'Condominio': 3650.0, 'IPTU': 1250.0}
{'_id': ObjectId('5e2a07212bb8be5841a120ff'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 3, 'Vagas': 4, 'Suites': 3, 'Area': 451, 'Valor': 17000.0, 'Condominio': 4200.0, 'IPTU': 1717.0}
{'_id': ObjectId('5e2a07212bb8be5841a12100'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 34, 'Valor': 1250.0, 'Condominio': 1300.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12101'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Botafogo', 'Quartos': 0, 'Vagas': 8, 'Suites': 0, 'Area': 467, 'Valor': 53730.0, 'Condominio': 14796.0, 'IPTU': 2728.0}
{'_id': ObjectId('5e2a07212bb8be5841a12102'), 'Tipo': 'Apartamento', 'Bairro': 'Freguesia (Jacarepaguá)', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 87, 'Valor': 1300.0, 'Condominio': 869.0, 'IPTU': 77.0}
{'_id': ObjectId('5e2a07212bb8be5841a12103'), 'Tipo': 'Apartamento', 'Bairro': 'Lagoa', 'Quartos': 3, 'Vagas': 2, 'Suites': 3, 'Area': 125, 'Valor': 4800.0, 'Condominio': 1600.0, 'IPTU': 48.0}
{'_id': ObjectId('5e2a07212bb8be5841a12104'), 'Tipo': 'Apartamento', 'Bairro': 'Copacabana', 'Quartos': 4, 'Vagas': 2, 'Suites': 2, 'Area': 389, 'Valor': 13640.0, 'Condominio': 4829.0, 'IPTU': 1154.0}
{'_id': ObjectId('5e2a07212bb8be5841a12105'), 'Tipo': 'Casa', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 4, 'Vagas': 2, 'Suites': 2, 'Area': 352, 'Valor': 6500.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12106'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Glória', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 95, 'Valor': 2400.0, 'Condominio': 840.0, 'IPTU': 325.0}
{'_id': ObjectId('5e2a07212bb8be5841a12107'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Ipanema', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 26, 'Valor': 1300.0, 'Condominio': 740.0, 'IPTU': 200.0}
{'_id': ObjectId('5e2a07212bb8be5841a12108'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 210, 'Valor': 8000.0, 'Condominio': 1900.0, 'IPTU': 590.0}
{'_id': ObjectId('5e2a07212bb8be5841a12109'), 'Tipo': 'Galpão/Depósito/Armazém', 'Bairro': 'Anil', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 5500, 'Valor': 70000.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a1210a'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Barra da Tijuca', 'Quartos': 5, 'Vagas': 2, 'Suites': 5, 'Area': 554, 'Valor': 20000.0, 'Condominio': 1892.0, 'IPTU': 1743.0}
{'_id': ObjectId('5e2a07212bb8be5841a1210b'), 'Tipo': 'Galpão/Depósito/Armazém', 'Bairro': 'Bonsucesso', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 3200, 'Valor': 18000.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a1210c'), 'Tipo': 'Apartamento', 'Bairro': 'Copacabana', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 60, 'Valor': 2400.0, 'Condominio': 530.0, 'IPTU': 78.0}
{'_id': ObjectId('5e2a07212bb8be5841a1210d'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 113, 'Valor': 2100.0, 'Condominio': 611.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a1210e'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 90, 'Valor': 10500.0, 'Condominio': 23511.0, 'IPTU': 352.0}
{'_id': ObjectId('5e2a07212bb8be5841a1210f'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 200, 'Valor': 16000.0, 'Condominio': 4200.0, 'IPTU': 850.0}
{'_id': ObjectId('5e2a07212bb8be5841a12110'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 4, 'Vagas': 3, 'Suites': 2, 'Area': 280, 'Valor': 10000.0, 'Condominio': 3315.0, 'IPTU': 770.0}
{'_id': ObjectId('5e2a07212bb8be5841a12111'), 'Tipo': 'Apartamento', 'Bairro': 'Ipanema', 'Quartos': 3, 'Vagas': 1, 'Suites': 1, 'Area': 118, 'Valor': 6000.0, 'Condominio': 980.0, 'IPTU': 250.0}
{'_id': ObjectId('5e2a07212bb8be5841a12112'), 'Tipo': 'Apartamento', 'Bairro': 'Olaria', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 67, 'Valor': 1250.0, 'Condominio': 150.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12113'), 'Tipo': 'Apartamento', 'Bairro': 'Botafogo', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 100, 'Valor': 4500.0, 'Condominio': 1600.0, 'IPTU': 205.0}
{'_id': ObjectId('5e2a07212bb8be5841a12114'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Freguesia (Jacarepaguá)', 'Quartos': 3, 'Vagas': 3, 'Suites': 1, 'Area': 155, 'Valor': 2000.0, 'Condominio': 530.0, 'IPTU': 1250.0}
{'_id': ObjectId('5e2a07212bb8be5841a12115'), 'Tipo': 'Apartamento', 'Bairro': 'Lagoa', 'Quartos': 3, 'Vagas': 3, 'Suites': 1, 'Area': 225, 'Valor': 12000.0, 'Condominio': 3756.0, 'IPTU': 977.0}
{'_id': ObjectId('5e2a07212bb8be5841a12116'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 2, 'Suites': 0, 'Area': 72, 'Valor': 2800.0, 'Condominio': 2550.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12117'), 'Tipo': 'Casa', 'Bairro': 'Bento Ribeiro', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 60, 'Valor': 1400.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12118'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Taquara', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 36, 'Valor': 1500.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12119'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 423, 'Valor': 11000.0, 'Condominio': 8082.0, 'IPTU': 1977.0}
{'_id': ObjectId('5e2a07212bb8be5841a1211a'), 'Tipo': 'Loja/Salão', 'Bairro': 'Campo Grande', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 160, 'Valor': 2650.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a1211b'), 'Tipo': 'Apartamento', 'Bairro': 'Flamengo', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 48, 'Valor': 2200.0, 'Condominio': 478.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a1211c'), 'Tipo': 'Apartamento', 'Bairro': 'Copacabana', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 67, 'Valor': 2450.0, 'Condominio': 679.0, 'IPTU': 80.0}
{'_id': ObjectId('5e2a07212bb8be5841a1211d'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 30, 'Valor': 500.0, 'Condominio': 500.0, 'IPTU': 95.0}
{'_id': ObjectId('5e2a07212bb8be5841a1211e'), 'Tipo': 'Apartamento', 'Bairro': 'Ipanema', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 55, 'Valor': 2000.0, 'Condominio': 630.0, 'IPTU': 19.0}
{'_id': ObjectId('5e2a07212bb8be5841a1211f'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 100, 'Valor': 2500.0, 'Condominio': 650.0, 'IPTU': 1864.0}
{'_id': ObjectId('5e2a07212bb8be5841a12120'), 'Tipo': 'Apartamento', 'Bairro': 'Jardim Botânico', 'Quartos': 3, 'Vagas': 1, 'Suites': 2, 'Area': 145, 'Valor': 5000.0, 'Condominio': 1296.0, 'IPTU': 317.0}
{'_id': ObjectId('5e2a07212bb8be5841a12121'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 115, 'Valor': 2000.0, 'Condominio': 482.0, 'IPTU': 166.0}
{'_id': ObjectId('5e2a07212bb8be5841a12122'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 1, 'Vagas': 1, 'Suites': 0, 'Area': 62, 'Valor': 1700.0, 'Condominio': 945.0, 'IPTU': 180.0}
{'_id': ObjectId('5e2a07212bb8be5841a12123'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 16, 'Suites': 0, 'Area': 430, 'Valor': 31000.0, 'Condominio': 117471.0, 'IPTU': 22873.0}
{'_id': ObjectId('5e2a07212bb8be5841a12124'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Barra da Tijuca', 'Quartos': 3, 'Vagas': 5, 'Suites': 3, 'Area': 1000, 'Valor': 20000.0, 'Condominio': 3000.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12125'), 'Tipo': 'Apartamento', 'Bairro': 'Campinho', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 63, 'Valor': 800.0, 'Condominio': 392.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12126'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Bangu', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 24, 'Valor': 800.0, 'Condominio': 500.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12127'), 'Tipo': 'Loja Shopping/ Ct Comercial', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 42, 'Valor': 1950.0, 'Condominio': 500.0, 'IPTU': 1550.0}
{'_id': ObjectId('5e2a07212bb8be5841a12128'), 'Tipo': 'Loja/Salão', 'Bairro': 'Leblon', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 68, 'Valor': 25000.0, 'Condominio': nan, 'IPTU': 1113.0}
{'_id': ObjectId('5e2a07212bb8be5841a12129'), 'Tipo': 'Loja/Salão', 'Bairro': 'Freguesia (Jacarepaguá)', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 80, 'Valor': 5800.0, 'Condominio': nan, 'IPTU': 215.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212a'), 'Tipo': 'Apartamento', 'Bairro': 'Freguesia (Jacarepaguá)', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 60, 'Valor': 500.0, 'Condominio': 900.0, 'IPTU': 148.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212b'), 'Tipo': 'Casa', 'Bairro': 'Centro', 'Quartos': 5, 'Vagas': 0, 'Suites': 1, 'Area': 160, 'Valor': 5000.0, 'Condominio': nan, 'IPTU': 80.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212c'), 'Tipo': 'Apartamento', 'Bairro': 'Todos os Santos', 'Quartos': 3, 'Vagas': 0, 'Suites': 0, 'Area': 54, 'Valor': 1500.0, 'Condominio': 289.0, 'IPTU': 35.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212d'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 105, 'Valor': 2100.0, 'Condominio': 648.0, 'IPTU': 156.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212e'), 'Tipo': 'Apartamento', 'Bairro': 'Jacarepaguá', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 78, 'Valor': 2200.0, 'Condominio': 790.0, 'IPTU': 180.0}
{'_id': ObjectId('5e2a07212bb8be5841a1212f'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 1, 'Vagas': 1, 'Suites': 1, 'Area': 50, 'Valor': 4300.0, 'Condominio': 1730.0, 'IPTU': 259.0}
{'_id': ObjectId('5e2a07212bb8be5841a12130'), 'Tipo': 'Apartamento', 'Bairro': 'Copacabana', 'Quartos': 2, 'Vagas': 0, 'Suites': 1, 'Area': 70, 'Valor': 4100.0, 'Condominio': 700.0, 'IPTU': 90.0}
{'_id': ObjectId('5e2a07212bb8be5841a12131'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 150, 'Valor': 10000.0, 'Condominio': 2680.0, 'IPTU': 800.0}
{'_id': ObjectId('5e2a07212bb8be5841a12132'), 'Tipo': 'Apartamento', 'Bairro': 'Copacabana', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 50, 'Valor': 1950.0, 'Condominio': 450.0, 'IPTU': 70.0}
{'_id': ObjectId('5e2a07212bb8be5841a12133'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 36, 'Valor': 1100.0, 'Condominio': 1200.0, 'IPTU': 270.0}
{'_id': ObjectId('5e2a07212bb8be5841a12134'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 2, 'Vagas': 1, 'Suites': 1, 'Area': 85, 'Valor': 2250.0, 'Condominio': 1561.0, 'IPTU': 197.0}
{'_id': ObjectId('5e2a07212bb8be5841a12135'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 3, 'Vagas': 2, 'Suites': 0, 'Area': 98, 'Valor': 2300.0, 'Condominio': 887.0, 'IPTU': 177.0}
{'_id': ObjectId('5e2a07212bb8be5841a12136'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Barra da Tijuca', 'Quartos': 0, 'Vagas': 1, 'Suites': 0, 'Area': 55, 'Valor': 2000.0, 'Condominio': 1096.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12137'), 'Tipo': 'Apartamento', 'Bairro': 'Barra da Tijuca', 'Quartos': 3, 'Vagas': 2, 'Suites': 2, 'Area': 140, 'Valor': 5500.0, 'Condominio': 1900.0, 'IPTU': 700.0}
{'_id': ObjectId('5e2a07212bb8be5841a12138'), 'Tipo': 'Apartamento', 'Bairro': 'Recreio dos Bandeirantes', 'Quartos': 3, 'Vagas': 2, 'Suites': 1, 'Area': 88, 'Valor': 1550.0, 'Condominio': 790.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12139'), 'Tipo': 'Quitinete', 'Bairro': 'Copacabana', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 22, 'Valor': 1500.0, 'Condominio': 286.0, 'IPTU': 200.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213a'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 140, 'Valor': 4000.0, 'Condominio': 1412.0, 'IPTU': 496.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213b'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 3, 'Vagas': 0, 'Suites': 1, 'Area': 80, 'Valor': 3000.0, 'Condominio': 1010.0, 'IPTU': 249.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213c'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 32, 'Valor': 600.0, 'Condominio': 1035.0, 'IPTU': 83.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213d'), 'Tipo': 'Apartamento', 'Bairro': 'Ipanema', 'Quartos': 3, 'Vagas': 1, 'Suites': 2, 'Area': 150, 'Valor': 15000.0, 'Condominio': 1400.0, 'IPTU': 600.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213e'), 'Tipo': 'Apartamento', 'Bairro': 'Tijuca', 'Quartos': 1, 'Vagas': 0, 'Suites': 0, 'Area': 28, 'Valor': 1000.0, 'Condominio': 360.0, 'IPTU': 25.0}
{'_id': ObjectId('5e2a07212bb8be5841a1213f'), 'Tipo': 'Apartamento', 'Bairro': 'Vila Valqueire', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 52, 'Valor': 1000.0, 'Condominio': 550.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12140'), 'Tipo': 'Casa de Condomínio', 'Bairro': 'Barra da Tijuca', 'Quartos': 5, 'Vagas': 3, 'Suites': 4, 'Area': 450, 'Valor': 15000.0, 'Condominio': 1711.0, 'IPTU': 2332.0}
{'_id': ObjectId('5e2a07212bb8be5841a12141'), 'Tipo': 'Apartamento', 'Bairro': 'Méier', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 70, 'Valor': 900.0, 'Condominio': 490.0, 'IPTU': 48.0}
{'_id': ObjectId('5e2a07212bb8be5841a12142'), 'Tipo': 'Box/Garagem', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 755, 'Valor': 14000.0, 'Condominio': nan, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12143'), 'Tipo': 'Quitinete', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 27, 'Valor': 800.0, 'Condominio': 350.0, 'IPTU': 25.0}
{'_id': ObjectId('5e2a07212bb8be5841a12144'), 'Tipo': 'Apartamento', 'Bairro': 'Jacarepaguá', 'Quartos': 3, 'Vagas': 1, 'Suites': 2, 'Area': 78, 'Valor': 1800.0, 'Condominio': 800.0, 'IPTU': 40.0}
{'_id': ObjectId('5e2a07212bb8be5841a12145'), 'Tipo': 'Apartamento', 'Bairro': 'São Francisco Xavier', 'Quartos': 2, 'Vagas': 1, 'Suites': 0, 'Area': 48, 'Valor': 1400.0, 'Condominio': 509.0, 'IPTU': 37.0}
{'_id': ObjectId('5e2a07212bb8be5841a12146'), 'Tipo': 'Apartamento', 'Bairro': 'Leblon', 'Quartos': 2, 'Vagas': 0, 'Suites': 0, 'Area': 70, 'Valor': 3000.0, 'Condominio': 760.0, 'IPTU': nan}
{'_id': ObjectId('5e2a07212bb8be5841a12147'), 'Tipo': 'Conjunto Comercial/Sala', 'Bairro': 'Centro', 'Quartos': 0, 'Vagas': 0, 'Suites': 0, 'Area': 250, 'Valor': 6500.0, 'Condominio': 4206.0, 'IPTU': 1109.0}

## criar um dataset em pandas  recuperando os dados do Mongo

In [24]:
dados_database = [{"Tipo": item["Tipo"], "Bairro" : item["Bairro"] ,"Quartos" : item["Quartos"] ,"Suites" : item["Suites"], "Valor" : item["Valor"],} for item in databaseImobiliaria.Alugueis.find()]

In [26]:
dataset_pandas  = pd.DataFrame(dados_database)
dataset_pandas.head()

                      Tipo           Bairro  Quartos  Suites   Valor
0                Quitinete       Copacabana        1       0  1700.0
1                     Casa  Jardim Botânico        2       1  7000.0
2  Conjunto Comercial/Sala  Barra da Tijuca        0       0  5200.0
3              Apartamento           Centro        1       0   800.0
4              Apartamento     Higienópolis        1       0   800.0

## Importar a biblioteca a gerar um grafico

In [30]:
dataset_pandas.Tipo

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [40]:
from sklearn.feature_extraction.text  import CountVectorizer

cv = CountVectorizer()
count_matrix = cv.fit_transform( dataset_pandas.Tipo)


word_count = pd.DataFrame(cv.get_feature_names(), columns=["Tipo"])
word_count["count"] = count_matrix.sum(axis=0).tolist()[0]

word_count[:50]

           Tipo  count
0   apartamento  19532
1       armazém    623
2           box     82
3          casa   2477
4         chalé      1
5       chácara      1
6     comercial   7327
7    condomínio   1001
8      conjunto   6815
9            ct    247
10           de   1245
11     depósito    623
12         flat    476
13       galpão    623
14      garagem     82
15        hotel      2
16    indústria      1
17      inteiro    301
18         loft     51
19         loja   1673
20   loteamento      5
21       padrão     70
22      pousada      1
23       prédio    301
24    quitinete    836
25         sala   6815
26        salão   1426
27     shopping    247
28       studio      4
29        sítio     10
30      terreno     70
31         vila    249