# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Inserindo Dados com Variáveis

In [2]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
    
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES('2018-05-02 12:34:45', 'Teclado', 130.00 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_valor = random.randrange(50,100)
    new_prod_name =   'Monitor'  if new_valor % 2 == 0  else "Teclado"
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", (new_date, new_prod_name, new_valor))
    conn.commit()

In [3]:
# Gerando valores e inserindo na tabela
for i in range(300):
    data_insert_var()
    time.sleep(1)

In [9]:
# Encerrando a conexão
c.close()
conn.close()

## agora vamos conectar no banco de dados e jogar para o pandas

In [9]:
import pandas as pd

In [17]:
conexao = sqlite3.connect('dsa.db') 

cursor = conn.cursor()

data = cursor.execute("SELECT  * from produtos p")

 
datateset = pd.DataFrame(data.fetchall(),columns=["id","date","prod_name","valor"])

In [16]:
data.arraysize

1

In [21]:
datateset.head()

   id                        date prod_name  valor
0  10         2018-05-02 14:32:11   Teclado   90.0
1  11  2020-01-29 16:54:35.975730   Teclado   61.0
2  12  2020-01-29 16:54:37.091664   Teclado   87.0
3  13  2020-01-29 16:54:38.173129   Teclado   59.0
4  14  2020-01-29 16:54:39.289968   Teclado   97.0

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>